{% extends "admin/change_list.html" %}
{% load i18n admin_modify adminmedia custom_admin_list %}
{% load url from future %}

{% block object-tools-items %}
    {% if admin_old_url %}
        <li>
            <a href="{{ admin_old_url }}">
                {% blocktrans with cl.opts.verbose_name as name %}Last request{% endblocktrans %}
            </a>
        </li>
    {% endif %}
    {% for button in buttons %}
        <li>
            <a href="{{ button.get_url }}" class="{{ button.classes|join:" " }}">{{ button.label }}</a>
        </li>
    {% endfor %}
    {% if has_add_permission %}
        <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(function() {
                $(".module").removeClass("filtered");
                $("form[name='filters'] select").change(function() {
                    window.location.href = $(this).val();
                });
            });
        })(django.jQuery)
    </script>
{% endblock %}


{% block search %}

    {% if multi_search and multi_search_keys %}
        <div id="toolbar">
            {% include "admin/multi_search_form.html" %}
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}

    <div id="toolbar" class="power-toolbar">
        {% if cl.has_filters %}
            <form name="filters" class="changelist-search">
            {% for spec in cl.filter_specs %}
                {% custom_admin_list_filter cl spec %}
            {% endfor %}
            </form>
        {% endif %}
    </div>

{% endblock %}

{% block filters %}{% endblock %}