django<1.5
mysql-python
gunicorn
South==0.8.4
python-dateutil
django-admin-tools==0.5.2
xhtml2pdf==0.0.6

#CMS
django-mptt==0.6.0
django-treeadmin
easy_thumbnails
django-uuidfield
django-polymorphic
django-smart-selects

django-compressor==1.3
django-appconf==0.6
django-recaptcha


# apt-get install jpegoptim optipng
# pip install pil --allow-external pil --allow-unverified pil

facebook-sdk
twython