<!DOCTYPE html>
<html lang="en">
    <head>
        {% load url from future %}
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}Raiz Cidadanista</title>
        <meta name="description" content="{% spaceless %}{% block description %}{% endblock %}{% endspaceless %}">
        <meta name="keywords" content="{% spaceless %}{% block keywords %}{% endblock %}{% endspaceless %}">
        <meta name="author" content="GT Site Eletrônico">
        <meta name="robots" content="index, nofollow">

        <meta property="og:title" content="{% spaceless %}{% block ogtitle %}{% endblock %}Raiz Movimento Cidadanista{% endspaceless %}">
        <meta property="og:description" content="{% spaceless %}{% block ogdescription %}{% endblock %}{% endspaceless %}">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="{% spaceless %}{% block allogimage %}http://{{ request.get_host }}{% block ogimage %}{% endblock %}{% endblock %}{% endspaceless %}">
        <meta property="og:locale" content="pt_BR">
        <meta property="og:site_name" content="Raiz Movimento Cidadanista">
        <meta property="og:type" content="website">
        <meta property="fb:app_id" content="">

        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {% block css %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron" style="background: #94C11E url({% static 'cadastro/img/projeto-para-web-grupo.jpg' %}) center center; height: 250px;">
                </div>
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% firstof message.tags 'info' %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock messages %}
                <div class="col-sm-full blog-main">
                    {% block content %}{% endblock %}
                    <br>
                </div>
            </div>
        </div>
        <div class="blog-footer">
            {% block footer %}
            {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>