{% extends "admin/change_list_multi_search.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}


{% block extrahead %}
    {{ block.super }}
    <style type="text/css" media="screen">
        .power-toolbar {
            display: none;
        }
        figure {
            display: inline-block;
            position: relative; 
            overflow: hidden;
            border: 1px solid #ddd;
            margin: 30px 0 30px 30px;
            width: 200px;
            height: 200px;
        }

        figcaption { 
            position: absolute; 
            background: rgba(0,0,0,0.75); 
            color: white; 
            padding: 10px; 
            width: 180px;
            opacity: 0;
            bottom: -30%;
            left: 0;
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
        }
        figure:hover figcaption {
            opacity: 1;
            bottom: 0;
        }

        figure.active:before { 
            content: "Ativo";
            position: absolute;
            right: 0;
            top: 10px;
            background: #417690;
            color: white;
            width: 50px;
            padding: 7px;
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            opacity: 0.75;
        }
    </style>
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}

    {% for res in cl.result_list %}
    <figure {% if res.active %}class="active"{% endif %}>
        <a href="{% url 'admin:cms_theme_change' res.pk %}">
            {{ res.example|safe }}
            <figcaption>{{ res.name }}</figcaption>
        </a>
    </figure>
    {% endfor %}

    {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}