{% extends 'forum/base.html' %}
{% load bootstrap forum_tags %}

{% block title %}Tópicos: {{ object }} - Teia Digital - {% endblock %}
{% block ogtitle %}Tópicos: {{ object }} - Teia Digital - {% endblock %}

{% block description %}Tópicos: {{ object }} - Teia Digital - {% endblock %}
{% block ogdescription %}Tópicos: {{ object }} - Teia Digital - {% endblock %}

{% block main %}
<div class="content-main contact-content margin-b-30">
    <div class="contact-content-upper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>
                        {{ object }}
                        {% if user|has_grupo_perm:object %}
                            <a href="{% url forum_grupo_sair object.pk %}" class="button-topic"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
                        {% else %}
                            <a href="{% url forum_grupo_solicitar_ingresso object.pk %}" class="button-topic"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
                        {% endif %}
                        <a href="{% url forum_topico_add object.pk %}"><button type="submit" class="btn btn-success button-topic">Adicionar novo tópico</button></a>
                        {% if user|has_admin_grupo_perm:object %}
                        <a href="{% url forum_grupo_add_membros object.pk %}"><button type="submit" class="btn btn-success button-topic">Adicionar membros</button></a>
                        <a href="{% url forum_grupo_edit_membros object.pk %}"><button type="submit" class="btn btn-success button-topic">Editar membros</button></a>
                        <a href="{% url forum_grupo_edit object.pk %}"><button type="submit" class="btn btn-success button-topic">Editar grupo</button></a>
                        {% endif %}
                        {% if object.grupocategoria_set.exists %}
                        <form style="display: inline; float: right;">
                            <select name="categoria" class="categoria-option btn btn-success button-topic">
                                <option value="" hidden>Categoria</option>
                                {% for grupocategoria in object.grupocategoria_set.all %}
                                <option value="{{ grupocategoria.pk }}"{% if grupocategoria == categoria %} selected{% endif %}>{{ grupocategoria }}</option>
                                {% endfor %}
                            </select>
                        </form>
                        {% endif %}
                    </h3>
                    {{ object.descricao|safe }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-article">
                    {% for topico in topicos %}
                    <div class="panel panel-default panel-conversa">
                        <div class="panel-body">
                            <blockquote>
                                {% if user|get_notificacao_topico:topico == 'I' %}
                                    <a href="{{ topico.get_absolute_url }}?notificacao=N" class="star-button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
                                {% else %}
                                    <a href="{{ topico.get_absolute_url }}?notificacao=I" class="star-button"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
                                {% endif %}
                                <a href="{{ topico.get_absolute_url }}"><h4>{{ topico }} ({{ user|num_conversa_nao_lidas:topico }})</h4></a>
                                <footer><b>Por: </b>{{ topico.criador.get_first_name }} | <b>Iniciada em:
</b> {{ topico.dt_criacao|date:"d/m/Y H:i" }} | <b>Nº de comentários: </b> {{ topico.num_comentarios }} | <b>Nº pessoas envolvidas: </b> {{ topico.num_participantes }}</footer>

                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}

                    <nav>
                      <ul class="pager">
                        {% if topicos.has_previous %}
                            <li class="previous"><a href="?page={{ topicos.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
                        {% endif %}

                        {% if topicos.has_next %}
                            <li class="next"><a href="?page={{ topicos.next_page_number }}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style type="text/css">
    .button-topic {float: right; margin-left: 5px;}
    .button-topic .glyphicon {font-size: 32px;}
    .star-button {float: right; margin-top: -5px;}
    .panel-conversa .glyphicon {font-size: 25px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('.categoria-option').on('change', function(event) {
        $(this).parent().submit();
    });
</script>
{% endblock %}