{% extends 'forum/base.html' %}
{% load bootstrap static %}

{% block title %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}
{% block ogtitle %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}

{% block description %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}
{% block ogdescription %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}

{% block main %}
<div class="content-all">
    <div class="content-main contact-content margin-b-30">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3><a href="{{ object.get_absolute_url }}">Tópicos: {{ object }}</a></h3>
                        <h4>Adicionar Membros</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-article">
                        <form action="" method="POST" role="form">{% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|safe }}
                                </div>
                            {% endfor %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>Adicionar Membros</h3>
                                    <select multiple="multiple" class="form-control" name="usuarios" id="id_usuarios">
                                    </select>
                                    <p class="help-block">Se o usuário não estiver aparecendo provavelmente ele está inativo ou já faz parte do grupo.</p>
                                    {% if form.usuarios.errors %}
                                    <ul class="list-unstyled">
                                    {% for error in form.usuarios.errors %}
                                      <li class="text-error"><small>{{ error }}</small></li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link href="{% static 'select2/css/select2.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block js %}
<script src="{% static 'select2/js/select2.min.js' %}" type='text/javascript'></script>
<script src="{% static 'select2/js/i18n/pt-BR.js' %}" type='text/javascript'></script>
<script type="text/javascript">
    $("#id_usuarios").select2({
        ajax: {
            url: "{% url forum_grupo_add_membros object.pk %}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term,
                };
            },
            processResults: function (data, params) {
                return {
                    results: data,
                }
            },
            cache: true
        },
        language: "pt-BR",
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 2,
        templateResult: function(user){ return user.name },
        templateSelection: function(user){ return user.name }
    });
</script>
{% endblock %}