{% extends 'forum/base.html' %}
{% load bootstrap static %}

{% block title %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}
{% block ogtitle %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}

{% block description %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}
{% block ogdescription %}Adicionar Membros - Tópicos: {{ object }} - Teia Digital - {% endblock %}

{% block main %}
<div class="content-all">
    <div class="content-main contact-content margin-b-30">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3><a href="{{ object.get_absolute_url }}">Tópicos: {{ object }}</a></h3>
                        <h4>Adicionar Membros</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-article">
                        <form action="" method="POST" role="form">{% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|safe }}
                                </div>
                            {% endfor %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>Adicionar Membros</h3>
                                    <textarea class="usuarios" data-name="usuarios" placeholder="@Nome"></textarea>
                                    {% if form.usuarios.errors %}
                                    <ul class="list-unstyled">
                                    {% for error in form.usuarios.errors %}
                                      <li class="text-error"><small>{{ error }}</small></li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link href="{% static 'site/css/jquery.mentionsInput.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/lib/jquery.events.input.js' %}" type='text/javascript'></script>
<script src="{% static 'site/js/lib/jquery.elastic.js' %}" type='text/javascript'></script>
<script src='https://cdn.rawgit.com/jashkenas/underscore/1.8.3/underscore-min.js' type='text/javascript'></script>
<script type="text/javascript" src="{% static 'site/js/jquery.mentionsInput.js' %}?v=0.1"></script>
<script type="text/javascript">
    /* Menção */
    $('textarea.usuarios').mentionsInput({
        onDataRequest:function (mode, query, callback) {
            $.getJSON('{% url forum_grupo_add_membros object.pk %}', function(responseData) {
                responseData = _.filter(responseData, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });
                callback.call(this, responseData);
            });
        }
    });
</script>
{% endblock %}