{% extends 'forum/base.html' %}
{% load bootstrap static %}

{% block title %}{{ membro }} - Teia Digital - {% endblock %}
{% block ogtitle %}{{ membro }} - Teia Digital - {% endblock %}

{% block description %}{{ membro }} - Teia Digital - {% endblock %}
{% block ogdescription %}{{ membro }} - Teia Digital - {% endblock %}

{% block css %}
<style type="text/css" media="screen">
    .panel-body h3 {
        border-bottom: 3px solid #94C11E;
    }
    .control-label {
        border-left: 3px #ccc solid;
        padding: 8px 0 8px 10px;
    }
    .form-group {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block main %}
<div class="content-all">
    <div class="content-main contact-content margin-b-30">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3>{{ membro }}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <h3>Dados pessoais</h3><br>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nome Completo:</label> {{ membro.nome }}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Usuário:</label> {{ membro.usuario.username }}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Município/UF:</label> {% if membro.municipio %}{{ membro.municipio }}{% else %}-{% endif %}/{% if membro.uf %}{{ membro.uf.uf }}{% else %}-{% endif %}
                        </div>
                        {% if is_coordenador %}
                        <div class="form-group col-md-12">
                            <label class="control-label">Email:</label> {% if membro.email %}{{ membro.email }}{% else %}-{% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Tel.Celular:</label> {% if membro.celular %}{{ membro.celular }}{% else %}-{% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Tel.Residencial:</label> {% if membro.residencial %}{{ membro.residencial }}{% else %}-{% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}