{% extends 'forum/base.html' %}
{% load bootstrap forum_tags %}

{% block title %}Tópicos recentes- Teia Digital - {% endblock %}
{% block ogtitle %}Tópicos recentes- Teia Digital - {% endblock %}

{% block description %}Tópicos recentes- Teia Digital - {% endblock %}
{% block ogdescription %}Tópicos recentes- Teia Digital - {% endblock %}

{% block main %}
<div class="content-all">
    <div class="content-main contact-content margin-b-30">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3>Lista de tópicos recentes</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-article">
                    {% if propostas %}
                        <h4>Propostas</h4>
                        {% for proposta in propostas %}
                        <div class="panel panel-default panel-conversa">
                            <div class="panel-body">
                                <blockquote>
                                    <div class="new-topic">
                                        <span class="fa fa-pie-chart star-button{% if proposta.status == 'A' and not proposta.expirada %} active{% endif %}" aria-hidden="true"></span>
                                    </div>
                                    <a href="{{ proposta.get_absolute_url }}"><h4>{{ proposta.texto|safe }}</h4></a>
                                    <footer><b>Tópico: </b><a href="{{ proposta.topico.get_absolute_url }}">{{ proposta.topico }}</a></footer>
                                    <footer><b>Grupo: </b><a href="{{ proposta.topico.grupo.get_absolute_url }}">{{ proposta.topico.grupo }}</a></footer>
                                    <footer>
                                        Iniciado por <b>{{ proposta.autor.get_first_name }}</b> em <b>{{ proposta.dt_criacao|date:"d/m/Y H:i" }}</b> | <span {% if proposta.tempo_para_expirar <= 24 %}style="color: red"{% endif %}>Votação até <b>{{ proposta.proposta.dt_encerramento|date:"d/m/Y \à\s H:i" }}</b></span>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if topicos %}
                        <h4>Topico recentes</h4>
                        {% for topico in topicos %}
                        <div class="panel panel-default panel-conversa">
                            <div class="panel-body">
                                <blockquote>
                                    <div class="new-topic">
                                        {% if user|get_notificacao_topico:topico == 'P' %}
                                            <a href="{{ topico.get_absolute_url }}?notificacao=N" class="star-button" data-toggle="tooltip" data-placement="top" title="Desmarcar como Prioritário"><span class="fa fa-star" aria-hidden="true"></span></a>
                                        {% else %}
                                            <a href="{{ topico.get_absolute_url }}?notificacao=P" class="star-button" data-toggle="tooltip" data-placement="top" title="Marcar como Prioritário"><span class="fa fa-star-o" aria-hidden="true"></span></a>
                                        {% endif %}
                                        {% if topico.has_proposta %}
                                            <span class="fa fa-pie-chart star-button{% if topico.has_proposta_ativa %} active{% endif %}" aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                    <a href="{{ topico.get_absolute_url }}"><h4>{{ topico }}{% if user|num_conversa_nao_lidas:topico %} ({{ user|num_conversa_nao_lidas:topico }}){% endif %}</h4></a>
                                    <footer><b>Grupo: </b><a href="{{ topico.grupo.get_absolute_url }}">{{ topico.grupo }}</a></footer>
                                    <footer><b>Por: </b>{{ topico.criador.get_first_name }} | <b>Iniciada em: </b> {{ topico.dt_criacao|date:"d/m/Y H:i" }} | <b>Nº de comentários: </b> {{ topico.num_comentarios }} | <b>Nº pessoas envolvidas: </b> {{ topico.num_participantes }}</footer>
                                </blockquote>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                        <nav>
                          <ul class="pager">
                            {% if topicos.has_previous %}
                                <li class="previous"><a href="?page={{ topicos.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
                            {% endif %}

                            {% if topicos.has_next %}
                                <li class="next"><a href="?page={{ topicos.next_page_number }}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style type="text/css">
    .new-topic {float: right; }
    .star-button {float: right; margin: -5px 5px;}
    .panel-conversa .fa {font-size: 25px;}
    .fa-star-o, .fa-pie-chart {color: #767676;}
    .fa-star, .fa-pie-chart.active {color: #F6A82B;}
</style>
{% endblock %}