{% extends 'forum/base.html' %}
{% load bootstrap static forum_tags %}

{% block title %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}
{% block ogtitle %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}

{% block description %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}
{% block ogdescription %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}

{% block main %}
<div class="content-all">
    <div class="content-main contact-content contact-menu">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3>
                            <a href="{% url forum_diretorio %}">Teia</a> &rsaquo;
                            <a href="{{ object.grupo.get_absolute_url }}">{{ object.grupo }}</a>
                        </h3>
                        <div class="buttons-top">
                            {% if ouvinte.notificacao == 'P' %}
                                <a href="?notificacao=N" class="button-topic link-star" data-toggle="tooltip" data-placement="bottom" title="Desmarcar como Prioritário"><span class="fa fa-star" aria-hidden="true"></span></a>
                            {% else %}
                                <a href="?notificacao=P" class="button-topic link-star" data-toggle="tooltip" data-placement="bottom" title="Marcar como Prioritário"><span class="fa fa-star-o" aria-hidden="true"></span></a>
                            {% endif %}
                            <span class="dropdown">
                                <button class="dropdown-button"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></button>
                                <div class="dropdown-menu">
                                        <a href="?notificacao=P">{% if ouvinte.notificacao == 'P' %}&rarr; {% endif %}Prioritário</a><br>
                                        <a href="?notificacao=I">{% if ouvinte.notificacao == 'I' %}&rarr; {% endif %}Sempre receber notificações</a><br>
                                        <a href="?notificacao=R">{% if ouvinte.notificacao == 'R' %}&rarr; {% endif %}Resumo Diário</a><br>
                                        <a href="?notificacao=V">{% if ouvinte.notificacao == 'V' %}&rarr; {% endif %}Apenas notificações de votação</a><br>
                                        <a href="?notificacao=N">{% if ouvinte.notificacao == 'N' %}&rarr; {% endif %}Não receber notificações</a><br>
                                    </form>
                                </div>
                            </span>
                        </div>
                        <div>
                            {% if user|has_admin_grupo_perm:object.grupo %}
                                <a href="{% url forum_topico_notificar object.grupo.pk object.pk %}"><button type="submit" class="btn btn-success">Notificar a todos</button></a>
                            {% endif %}
                            {% if object.criador == user or user|has_admin_grupo_perm:object.grupo %}
                                <a href="{% url forum_topico_mover object.grupo.pk object.pk %}"><button type="submit" class="btn btn-success">Mover Tópico</button></a>
                                {% if object.editavel %}
                                <a href="?encerrar=true"><button type="submit" class="btn btn-success">Encerrar Tópico</button></a>
                                {% else %}
                                <a href="?reabrir=true"><button type="submit" class="btn btn-success">Reabrir Tópico</button></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-main contact-content contact-content-content margin-b-30">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-article">
                        {% for proposta in propostas %}
                         <div class="panel panel-default panel-conversa">
                            <div class="panel-body">
                                <blockquote>
                                    <div class="button-topic">
                                        <span class="fa fa-pie-chart star-button active" aria-hidden="true"></span>
                                    </div>
                                    <a href="{{ proposta.proposta.get_absolute_url }}"><h4>{% if not proposta.propostas.expirada %}Votação em andamento. Clique aqui para votar ou ver o resultado da votação.{% else %}Votação encerrada. Clique aqui ver o resultado da votação.{% endif %}</h4></a>
                                    <footer>
                                        Iniciado por <b>{{ proposta.autor.get_first_name }}</b> em <b>{{ proposta.dt_criacao|date:"d/m/Y H:i" }}</b><br>
                                        {% if not proposta.proposta.expirada %}
                                        Votação até <b>{{ proposta.proposta.dt_encerramento|date:"d/m/Y \à\s H:i" }}</b>
                                        {% else %}
                                        Votação encerrada!
                                        {% endif %}

                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                        {% endfor %}

                        {% for conversa in conversas %}
                        <div id="conversa-{{ conversa.pk }}" class="panel panel-default panel-conversa" {% if forloop.first %}style="border: 1px #333 solid"{% endif %}>
                            <div class="panel-body">
                                <blockquote>
                                    {% if forloop.first %}<h2 style="margin-top: 0px;">{{ object }}</h2>{% endif %}
                                    {% if conversa.proposta %}
                                        <div class="button-topic">
                                            <span class="fa fa-pie-chart star-button" aria-hidden="true"></span>
                                        </div>
                                        <a href="{{ conversa.proposta.get_absolute_url }}"><h4>{% if not conversa.proposta.expirada %}Votação em andamento. Clique aqui para votar ou ver o resultado da votação.{% else %}Votação encerrada. Clique aqui ver o resultado da votação.{% endif %}</h4></a><br>
                                        <footer>
                                            Iniciado por <b>{{ conversa.autor.get_first_name }}</b> em <b>{{ conversa.dt_criacao|date:"d/m/Y H:i" }}</b><br>
                                            {% if not conversa.proposta.expirada %}
                                            Votação até <b>{{ conversa.proposta.dt_encerramento|date:"d/m/Y \à\s H:i" }}</b>
                                            {% else %}
                                            Votação encerrada!
                                            {% endif %}
                                        </footer>
                                        {{ conversa.texto|safe }}
                                        <p>
                                            <b>{{ conversa.proposta.voto_set.count|percent:conversa.proposta.topico.topicoouvinte_set.count|floatformat }}%</b> dos membros manifestaram suas posições ({{ conversa.proposta.voto_set.count }}/{{ conversa.proposta.topico.topicoouvinte_set.count }})<br>
                                            {% for resposta, votos in conversa.proposta.respostas %}
                                            <b>{{ votos|percent:conversa.proposta.voto_set.count|floatformat }}%</b> marcaram "{{ resposta }}"<br>
                                            {% endfor %}
                                        </p>

                                    {% else %}
                                        <footer>Por: <b>{{ conversa.autor.get_first_name }}</b> - {{ conversa.dt_criacao|date:"d/m/Y H:i" }}</footer>
                                        {{ conversa.texto|safe }}
                                        {% if conversa.arquivo %}<small><a href="{{ conversa.arquivo.url }}" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>Arquivo</a></small><br>{% endif %}
                                    {% endif %}

                                    {% if not conversa.proposta %}
                                        <small>
                                            {% if object.editavel %}
                                                {% for tipocurtida in conversa.curtidas %}
                                                <span class="like-box like-{{ tipocurtida.status }}" data-count="{{ tipocurtida.queryset.count }}" data-id="{{ conversa.pk }}" data-curtir="{{ tipocurtida.status }}">
                                                    <a class="like-link" href="?conversa={{ conversa.pk }}&curtir={{ tipocurtida.status }}">{{ tipocurtida.display }}</a>
                                                    (<span class="like-count">{{ tipocurtida.queryset.count }}</span>)
                                                    <div class="like-people"></div>
                                                </span>
                                                {% if not forloop.last %}|{% endif %}
                                                {% endfor %}
                                                <span class="mention-box" data-count="{{ conversa.conversamencao_set.count }}" data-id="{{ conversa.pk }}">
                                                    | <a class="mention-link" href="javascript://">Menção</a>
                                                    (<span class="mention-count">{{ conversa.conversamencao_set.count }}</span>)
                                                    <div class="mention-people"></div>
                                                </span>
                                                {% if not forloop.first %}
                                                    {% if not object.grupo.privado or user|has_grupo_perm:object.grupo %}
                                                        | <a class="responder-link" href="javascript://">Responder</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if object.editavel and request.user == conversa.autor or user|has_admin_grupo_perm:object.grupo %}
                                                    {% if forloop.first %}
                                                    | <a href="{{ object.get_absolute_edit_url }}">Editar</a>
                                                    {% else %}
                                                    | <a class="edit-link" href="javascript://">Editar</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if conversa.editada %}
                                                    | <a href="{{ conversa.get_absolute_history_url }}">Conversa editada</a>
                                                {% endif %}
                                            {% else %}
                                                {% for tipocurtida in conversa.curtidas %}
                                                <span class="like-box like-{{ tipocurtida.status }}" data-count="{{ tipocurtida.queryset.count }}" data-id="{{ conversa.pk }}" data-curtir="{{ tipocurtida.status }}">
                                                    {{ tipocurtida.display }}
                                                    (<span class="like-count">{{ tipocurtida.queryset.count }}</span>)
                                                    <div class="like-people"></div>
                                                </span>
                                                {% if not forloop.last %}|{% endif %}
                                                {% endfor %}
                                                <span class="mention-box" data-count="{{ conversa.conversamencao_set.count }}" data-id="{{ conversa.pk }}">
                                                    | <a class="mention-link" href="javascript://">Menção</a>
                                                    (<span class="mention-count">{{ conversa.conversamencao_set.count }}</span>)
                                                    <div class="mention-people"></div>
                                                </span>
                                            {% endif %}
                                            {% if object.editavel and not forloop.first and conversa|has_delete_conversa:request.user %}
                                                | <a class="remove-link" href="?conversa={{ conversa.pk }}&excluir=true">Excluir</a>
                                            {% endif %}
                                        </small>

                                        <form action="{% url forum_mencao %}" method="POST" role="form" class="mention-form">{% csrf_token %}
                                            <div class="panel panel-conversa">
                                                <div class="panel-body">
                                                    <input type="hidden" name="conversa" value="{{ conversa.pk }}" />
                                                    <textarea class="mention" data-name="mencoes" placeholder="@Nome"></textarea>
                                                    <button type="submit" class="btn btn-success">Enviar</button>
                                                </div>
                                            </div>
                                        </form>

                                        {% if object.editavel and request.user == conversa.autor or user|has_admin_grupo_perm:object.grupo %}
                                        <form action="" method="POST" role="form" class="edit-form" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="panel-body">
                                                <input type="hidden" class="form-control" name="conversa_pai" id="id_conversa_pai" value="{{ conversa.conversa_pai.pk }}" />
                                                <input type="hidden" class="form-control" name="conversa" id="id_conversa" value="{{ conversa.pk }}" />
                                                <textarea id="id_texto-edit-conversa-{{ conversa.pk }}" rows="10" cols="40" class="form-control" name="texto">{{ conversa.texto }}</textarea>
                                                <div class="form-group form-inline" style="margin: 10px 0px;">
                                                    {% if conversa.arquivo %}
                                                        <small>
                                                            Atualmente: <a href="{{ conversa.arquivo.url }}" target="_blank">{{ conversa.arquivo.url }}</a>
                                                            <span class="clearable-file-input"><input type="checkbox" name="arquivo-clear" id="arquivo-clear_id" /> <label for="arquivo-clear_id">Limpar</label></span>
                                                        </small>
                                                    {% endif %}
                                                    <div class="upload input-group">
                                                        <button type="button" class="input-fake btn btn-default">
                                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                            Arquivo
                                                        </button>
                                                        <input class="input-file-real" type="file" name="arquivo" placeholder="Arquivo">
                                                        <ul class="list-unstyled">
                                                            {% for error in form.arquivo.errors %}
                                                            <li class="text-error"><small>{{ error }}</small></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success">Editar</button>
                                            </div>
                                        </form>
                                        <script type="text/javascript">
                                            CKEDITOR.replace("id_texto-edit-conversa-{{ conversa.pk }}", {"filebrowserWindowWidth": 940, "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "forcePasteAsPlainText": true, "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "filebrowserUploadUrl": "/ckeditor/upload/", "extraPlugins": "smiley", "height": 100, "width": "100%", "filebrowserBrowseUrl": "/ckeditor/browse/", "skin": "moono", "filebrowserWindowHeight": 725, "toolbar": [["Bold", "Italic", "Underline", "TextColor", "NumberedList", "BulletedList", "Link", "Smiley"]]});
                                        </script>
                                        {% endif %}

                                        {% if object.editavel and not forloop.first %}
                                        <form action="" method="POST" role="form" class="responder-form" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="panel panel-conversa">
                                                <div class="panel-body">
                                                    <input type="hidden" class="form-control" name="conversa_pai" id="id_conversa_pai" value="{{ conversa.pk }}" />
                                                    <textarea id="id_texto-{{ conversa.pk }}" rows="10" cols="40" class="form-control" name="texto"></textarea>
                                                    <div class="form-group form-inline" style="margin: 10px 0px;">
                                                        <div class="upload input-group">
                                                            <button type="submit" class="btn btn-success">Responder</button>
                                                        </div>
                                                        <div class="upload input-group">
                                                            <button type="button" class="input-fake btn btn-default">
                                                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                                                Imagem
                                                            </button>
                                                            <input class="input-file-real" type="file" name="imagem" placeholder="Imagem">
                                                            <ul class="list-unstyled">
                                                            {% for error in form.imagem.errors %}
                                                                <li class="text-error"><small>{{ error }}</small></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <div class="upload input-group">
                                                            <button type="button" class="input-fake btn btn-default">
                                                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                                Arquivo
                                                            </button>
                                                            <input class="input-file-real" type="file" name="arquivo" placeholder="Arquivo">
                                                            <ul class="list-unstyled">
                                                                {% for error in form.arquivo.errors %}
                                                                <li class="text-error"><small>{{ error }}</small></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <script type="text/javascript">
                                            CKEDITOR.replace("id_texto-{{ conversa.pk }}", {"filebrowserWindowWidth": 940, "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "forcePasteAsPlainText": true, "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "filebrowserUploadUrl": "/ckeditor/upload/", "extraPlugins": "smiley", "height": 100, "width": "100%", "filebrowserBrowseUrl": "/ckeditor/browse/", "skin": "moono", "filebrowserWindowHeight": 725, "toolbar": [["Bold", "Italic", "Underline", "TextColor", "NumberedList", "BulletedList", "Link", "Smiley"]]});
                                        </script>
                                        {% endif %}
                                    {% endif %}

                                    {% for conversa_filho in conversa.conversa_set.all %}
                                    <div id="conversa-{{ conversa_filho.pk }}" class="panel panel-default panel-conversa">
                                        <div class="panel-body">
                                            <blockquote>
                                                <footer>Por: <b>{{ conversa_filho.autor.get_first_name }}</b> - {{ conversa_filho.dt_criacao|date:"d/m/Y H:i" }}</footer>
                                                {{ conversa_filho.texto|safe }}
                                                {% if conversa_filho.arquivo %}<small><a href="{{ conversa_filho.arquivo.url }}" target="_blank"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>Arquivo</a></small><br>{% endif %}
                                                <small>
                                                {% if object.editavel %}
                                                    {% for tipocurtida in conversa_filho.curtidas %}
                                                    <span class="like-box like-{{ tipocurtida.status }}" data-count="{{ tipocurtida.queryset.count }}" data-id="{{ conversa_filho.pk }}" data-curtir="{{ tipocurtida.status }}">
                                                        <a class="like-link" href="?conversa={{ conversa_filho.pk }}&curtir={{ tipocurtida.status }}">{{ tipocurtida.display }}</a>
                                                        (<span class="like-count">{{ tipocurtida.queryset.count }}</span>)
                                                        <div class="like-people"></div>
                                                    </span>
                                                    {% if not forloop.last %}|{% endif %}
                                                    {% endfor %}
                                                    <span class="mention-box" data-count="{{ conversa_filho.conversamencao_set.count }}" data-id="{{ conversa_filho.pk }}">
                                                        | <a class="mention-link" href="javascript://">Menção</a>
                                                        (<span class="mention-count">{{ conversa_filho.conversamencao_set.count }}</span>)
                                                        <div class="mention-people"></div>
                                                    </span>
                                                    {% if not object.grupo.privado or user|has_grupo_perm:object.grupo %}
                                                        | <a class="responder-link" href="javascript://">Responder</a>
                                                    {% endif %}

                                                    {% if request.user == conversa_filho.autor %}
                                                        | <a class="edit-link" href="javascript://">Editar</a>
                                                    {% endif %}

                                                    {% if conversa_filho.editada %}
                                                        | <a href="{{ conversa_filho.get_absolute_history_url }}">Conversa editada</a>
                                                    {% endif %}

                                                    {% if conversa_filho|has_delete_conversa:request.user %}
                                                        | <a class="remove-link" href="?conversa={{ conversa_filho.pk }}&excluir=true">Excluir</a>
                                                    {% endif %}
                                                {% else %}
                                                    {% for tipocurtida in conversa_filho.curtidas %}
                                                    <span class="like-box like-{{ tipocurtida.status }}" data-count="{{ tipocurtida.queryset.count }}" data-id="{{ conversa_filho.pk }}" data-curtir="{{ tipocurtida.status }}">
                                                        {{ tipocurtida.display }}
                                                        (<span class="like-count">{{ tipocurtida.queryset.count }}</span>)
                                                        <div class="like-people"></div>
                                                    </span>
                                                    {% if not forloop.last %}|{% endif %}
                                                    {% endfor %}
                                                    <span class="mention-box" data-count="{{ conversa_filho.conversamencao_set.count }}" data-id="{{ conversa_filho.pk }}">
                                                        | <a class="mention-link" href="javascript://">Menção</a>
                                                        (<span class="mention-count">{{ conversa_filho.conversamencao_set.count }}</span>)
                                                        <div class="mention-people"></div>
                                                    </span>
                                                {% endif %}
                                                </small>

                                                <form action="{% url forum_mencao %}" method="POST" role="form" class="mention-form">{% csrf_token %}
                                                    <div class="panel panel-conversa">
                                                        <div class="panel-body">
                                                            <input type="hidden" name="conversa" value="{{ conversa_filho.pk }}" />
                                                            <textarea class="mention" data-name="mencoes" placeholder="@Nome"></textarea>
                                                            <button type="submit" class="btn btn-success">Enviar</button>
                                                        </div>
                                                    </div>
                                                </form>

                                                {% if object.editavel %}
                                                <form action="" method="POST" role="form" class="responder-form" enctype="multipart/form-data">{% csrf_token %}
                                                    <div class="panel panel-conversa">
                                                        <div class="panel-body">
                                                            <input type="hidden" class="form-control" name="conversa_pai" id="id_conversa_pai" value="{{ conversa.pk }}" />
                                                            <textarea id="id_texto-{{ conversa_filho.pk }}" rows="10" cols="40" class="form-control" name="texto"></textarea>
                                                            <div class="form-group form-inline" style="margin: 10px 0px;">
                                                                <div class="upload input-group">
                                                                    <button type="submit" class="btn btn-success">Responder</button>
                                                                </div>
                                                                <div class="upload input-group">
                                                                    <button type="button" class="input-fake btn btn-default">
                                                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                                                        Imagem
                                                                    </button>
                                                                    <input class="input-file-real" type="file" name="imagem" placeholder="Imagem">
                                                                    <ul class="list-unstyled">
                                                                    {% for error in form.imagem.errors %}
                                                                        <li class="text-error"><small>{{ error }}</small></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                                <div class="upload input-group">
                                                                    <button type="button" class="input-fake btn btn-default">
                                                                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                                        Arquivo
                                                                    </button>
                                                                    <input class="input-file-real" type="file" name="arquivo" placeholder="Arquivo">
                                                                    <ul class="list-unstyled">
                                                                        {% for error in form.arquivo.errors %}
                                                                        <li class="text-error"><small>{{ error }}</small></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <script type="text/javascript">
                                                    CKEDITOR.replace("id_texto-{{ conversa_filho.pk }}", {"filebrowserWindowWidth": 940, "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "forcePasteAsPlainText": true, "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "filebrowserUploadUrl": "/ckeditor/upload/", "extraPlugins": "smiley", "height": 100, "width": "100%", "filebrowserBrowseUrl": "/ckeditor/browse/", "skin": "moono", "filebrowserWindowHeight": 725, "toolbar": [["Bold", "Italic", "Underline", "TextColor", "NumberedList", "BulletedList", "Link", "Smiley"]]});
                                                </script>
                                                {% endif %}

                                                {% if object.editavel and request.user == conversa_filho.autor %}
                                                <form action="" method="POST" role="form" class="edit-form" enctype="multipart/form-data">{% csrf_token %}
                                                        <div class="panel-body">
                                                            <input type="hidden" class="form-control" name="conversa_pai" id="id_conversa_pai" value="{{ conversa.pk }}" />
                                                            <input type="hidden" class="form-control" name="conversa" id="id_conversa" value="{{ conversa_filho.pk }}" />
                                                            <textarea id="id_texto-edit-conversa-{{ conversa_filho.pk }}" rows="10" cols="40" class="form-control" name="texto">{{ conversa_filho.texto }}</textarea>
                                                            <div class="form-group form-inline" style="margin: 10px 0px;">
                                                                {% if conversa_filho.arquivo %}
                                                                    <small>
                                                                        Atualmente: <a href="{{ conversa_filho.arquivo.url }}" target="_blank">{{ conversa_filho.arquivo.url }}</a>
                                                                        <span class="clearable-file-input"><input type="checkbox" name="arquivo-clear" id="arquivo-clear_id" /> <label for="arquivo-clear_id">Limpar</label></span>
                                                                    </small>
                                                                {% endif %}
                                                                <div class="upload input-group">
                                                                    <button type="button" class="input-fake btn btn-default">
                                                                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                                        Arquivo
                                                                    </button>
                                                                    <input class="input-file-real" type="file" name="arquivo" placeholder="Arquivo">
                                                                    <ul class="list-unstyled">
                                                                        {% for error in form.arquivo.errors %}
                                                                        <li class="text-error"><small>{{ error }}</small></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <button type="submit" class="btn btn-success">Editar</button>
                                                        </div>
                                                </form>
                                                <script type="text/javascript">
                                                    CKEDITOR.replace("id_texto-edit-conversa-{{ conversa_filho.pk }}", {"filebrowserWindowWidth": 940, "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "forcePasteAsPlainText": true, "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "filebrowserUploadUrl": "/ckeditor/upload/", "extraPlugins": "smiley", "height": 100, "width": "100%", "filebrowserBrowseUrl": "/ckeditor/browse/", "skin": "moono", "filebrowserWindowHeight": 725, "toolbar": [["Bold", "Italic", "Underline", "TextColor", "NumberedList", "BulletedList", "Link", "Smiley"]]});
                                                </script>
                                                {% endif %}
                                            </blockquote>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </blockquote>
                            </div>
                        </div>

                            {% if forloop.first %}
                            <nav>
                                <ul class="pager">
                                    {% if conversas.has_previous %}
                                    <li class="previous"><a class="btn btn-success" href="?page={{ conversas.previous_page_number }}"><span aria-hidden="true">&larr;</span> Conversas anteriores</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        {% endfor %}

                        <nav>
                            <ul class="pager">
                                {% if conversas.has_next %}
                                <li class="next"><a class="btn btn-success" href="?page={{ conversas.next_page_number }}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>

                        {% if object.editavel %}
                        {% if object.grupo.privado and not user|has_grupo_perm:object.grupo %}
                            <div class="panel panel-default panel-conversa">
                                <div class="panel-body">
                                    <div>Para emitir qualquer comentário, você deve estar inscrito no(a) {{ object.grupo.nome }}.
                                    <a href="{% url forum_grupo_solicitar_ingresso object.grupo.pk %}"><button type="submit" class="btn btn-success">Clique aqui para se inscrever</button></a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        <form action="" method="POST" role="form" enctype="multipart/form-data">{% csrf_token %}
                            <div class="panel panel-default panel-conversa">
                                <div class="panel-body">
                                    <h3>
                                        Novo comentário
                                        <a href="{% url forum_topico_novaenquete object.grupo.pk object.pk %}"><button type="button" class="btn btn-success button-topic">Nova Enquete</button></a>
                                        <a href="{% url forum_topico_novaproposta object.grupo.pk object.pk %}"><button type="button" class="btn btn-success button-topic">Nova Proposta</button></a>
                                    </h3>
                                    <div class="form-group{% if form.texto.errors %} has-error has-feedback{% endif %} group-{{ form.texto.name }}">
                                        {{ form.texto|btform }}
                                        {% if form.texto.errors %}
                                        <ul class="list-unstyled">
                                            {% for error in form.texto.errors %}
                                            <li class="text-error"><small>{{ error }}</small></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-inline" style="margin-bottom: 10px">
                                        <div class="upload input-group">
                                            <button type="submit" class="btn btn-success">Adicionar</button>
                                        </div>
                                        <div class="upload input-group">
                                            <button type="button" class="input-fake btn btn-default">
                                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                                Imagem
                                            </button>
                                            <input class="input-file-real" type="file" name="imagem" placeholder="Imagem">
                                            <ul class="list-unstyled">
                                            {% for error in form.imagem.errors %}
                                                <li class="text-error"><small>{{ error }}</small></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="upload input-group">
                                            <button type="button" class="input-fake btn btn-default">
                                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                Arquivo
                                            </button>
                                            <input class="input-file-real" type="file" name="arquivo" placeholder="Arquivo">
                                            <ul class="list-unstyled">
                                                {% for error in form.arquivo.errors %}
                                                <li class="text-error"><small>{{ error }}</small></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<link href="{% static 'site/css/jquery.mentionsInput.css' %}" rel='stylesheet' type='text/css'>
<style type="text/css">
    .pager li>a, .pager li>span {background-color: #94C11E; border-radius: 0; border: 0;}
    .pager li>a:focus, .pager li>a:hover {background-color: #94C11E; border-radius: 0;}
    .pager .next>a, .pager .next>span {float: left; }
    .pager .previous>a, .pager .previous>span {margin-right: 10px; }
    .cke_contents {min-height: 100px !important; width: 100% !important;}
    .responder-form, .edit-form, .mention-form {display: none; }
    .button-topic {float: right; margin-left: 5px;}
    .fa {font-size: 32px; }
    .fa-star-o, .fa-envelope, .fa-pie-chart {color: #767676;}
    .fa-star, .fa-pie-chart.active {color: #F6A82B;}

    /* Top fixed */
    .content-all {width: 100%; overflow: hidden;}
    .content-all .contact-content-content .gallery_title {border: 0; padding: 0;}
    .content-all .contact-menu {padding: 0; }
    .content-all .contact-menu .contact-content-upper{padding: 20px 40px;}
    .content-all .contact-menu .gallery_title{margin-bottom: 20px;}
    .content-all .contact-content-content {border-top: 0; }
    .top-fixed .contact-content-content {padding-top: 80px; }
    .top-fixed .contact-menu {top: 0px; position: fixed; z-index: 999;}

    .upload {vertical-align: top !important;}
    .input-fake{padding-right:50px;}
    .input-file-real{opacity:0;position: absolute !important;top:0px;left:0px;cursor:pointer;height: 34px;width: 100%;}
    .btn-default-hover {color: #333; background-color: #e6e6e6; border-color: #adadad;}

    .link-star {position: initial; margin: 0px 5px;}
    .dropdown {margin-left: 5px; float: right;}
    .dropdown-button, .dropdown-button:focus {background: none; border: none;}
    .dropdown-button .fa {background: none; border: none; }
    .dropdown-menu { right: 0; left: initial; padding: 10px; line-height: 22px; width: 250px;}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/lib/jquery.events.input.js' %}" type='text/javascript'></script>
<script src="{% static 'site/js/lib/jquery.elastic.js' %}" type='text/javascript'></script>
<script src='https://cdn.rawgit.com/jashkenas/underscore/1.8.3/underscore-min.js' type='text/javascript'></script>
<script type="text/javascript" src="{% static 'site/js/jquery.mentionsInput.js' %}"></script>
<script type="text/javascript">
    /* Scroll do topo */
    $('.contact-menu').width($('.content-all').width());
    $(window).scroll(function () {
        if ($(this).scrollTop() > $('.content-all').offset().top) {
            $('.content-all').addClass("top-fixed");
        } else {
            $('.content-all').removeClass("top-fixed");
        }
    });

    /* show/hide response ckeditor */
    $('.responder-link').click(function(event) {
        $(this).parent().parent().find('.responder-form:first').slideToggle();
    });
    /* show/hide edit ckeditor */
    $('.edit-link').click(function(event) {
        $(this).parent().parent().find('.edit-form:first').slideToggle();
    });

    /* show/hide menstion */
    $('.mention-link').click(function(event) {
        $(this).parent().parent().parent().find('.mention-form:first').slideToggle();
    });

    /* like interation */
    $('.like-link').click(function(event) {
        var likelink = $(this);
        $.getJSON(likelink.attr('href'), function(data) {
            $.each(data, function(index, val) {
                $(likelink).parent().parent().find('.like-'+val.status+' .like-count').html(val.count);
                $(likelink).parent().parent().find('.like-'+val.status+'').attr('data-count', val.count);
            });
        });
        return false;
    });

    /* show like people */
    $('.like-box').hover(function() {
        if($(this).attr('data-count')*1 > 0){
            var likebox = $(this);
            var link = '?conversa='+$(likebox).attr('data-id')+'&get-curtir='+$(likebox).attr('data-curtir');
            $.getJSON(link, function(data) {
                $(likebox).find('.like-count').html(data.count);
                $(likebox).attr('data-count', data.count);
                $(likebox).find('.like-people').html('');
                $.each(data.people, function(index, val) {
                    $(likebox).find('.like-people').append(val+'<br>');
                });
            });
            $(this).find('.like-people').attr('style', 'display: inline-table');
        }
    }, function() {
        $(this).find('.like-people').hide();
    });
    /* show mention people */
    $('.mention-box').hover(function() {
        if($(this).attr('data-count')*1 > 0){
            var mentionbox = $(this);
            var link = '?conversa='+$(mentionbox).attr('data-id')+'&get-mencao=true';
            $.getJSON(link, function(data) {
                $(mentionbox).find('.mention-count').html(data.count);
                $(mentionbox).attr('data-count', data.count);
                $(mentionbox).find('.mention-people').html('');
                $.each(data.people, function(index, val) {
                    $(mentionbox).find('.mention-people').append(val+'<br>');
                });
            });
            $(this).find('.mention-people').attr('style', 'display: inline-table');
        }
    }, function() {
        $(this).find('.mention-people').hide();
    });

    /* remove conversa confirm */
    $('.remove-link').click(function(event) {
        return confirm("Você deseja realmente remover o seu comentário?");
    });


    /* Menção */
    $('textarea.mention').mentionsInput({
        onDataRequest:function (mode, query, callback) {
            $.getJSON('{% url forum_mencao %}', function(responseData) {
                responseData = _.filter(responseData, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });
                callback.call(this, responseData);
            });
        }
    });

    //simulação do input file
    $(".input-file-real").on("change",function(){
        var txt = $(this).val();
        $(this).parent().find(".input-fake").append('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
    });
    $(".input-file-real").mouseenter(function() {
        $(this).parent().find(".input-fake").addClass('btn-default-hover');
        console.log('enter');
    }).mouseleave(function() {
        $(this).parent().find(".input-fake").removeClass('btn-default-hover');
        console.log('leave');
    });

    $('.dropdown').hover(function(event) {
        if($(this).hasClass('open')){
            $(this).removeClass('open');
        }else{
            $(this).addClass('open');
        }
    });
</script>
{% endblock %}
