{% extends 'forum/base.html' %}
{% load bootstrap static forum_tags %}

{% block title %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}
{% block ogtitle %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}

{% block description %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}
{% block ogdescription %}Tópicos: {{ object.grupo }} - {{ object }} - Teia Digital - {% endblock %}

{% block main %}
<div class="content-main contact-content margin-b-30">
    <div class="contact-content-upper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3><a href="{% url forum %}">Teia Digital</a> › <a href="{{ object.grupo.get_absolute_url }}">{{ object.grupo }}</a> › {{ object }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-article">
                    {% for conversa in conversas %}
                    <div id="conversa-{{ conversa.pk }}" class="panel panel-default panel-conversa">
                        <div class="panel-body">
                            <blockquote>
                                <h4>{{ conversa.texto|safe }}</h4>
                                <footer>Por: {% firstof conversa.autor.first_name conversa.autor.username %} - {{ conversa.dt_criacao|date:"d/m/Y H:i" }}</footer>
                                {% for conversa_filho in conversa.conversa_set.all %}
                                <div id="conversa_filho-{{ conversa.pk }}" class="panel panel-default panel-conversa">
                                    <div class="panel-body">
                                        <blockquote>
                                            <h4>{{ conversa_filho.texto|safe }}</h4>
                                            <footer>Por: {% firstof conversa_filho.autor.first_name conversa_filho.autor.username %} - {{ conversa_filho.dt_criacao|date:"d/m/Y H:i" }}</footer>
                                            <small>
                                            {% if object.status == 'A' %}
                                                <a class="like-link" href="?conversa={{ conversa_filho.pk }}&curtir=true">Curtir</a> (<span class="like-count">{{ conversa_filho.curtiu.count }}</span>)
                                                | <a class="like-link" href="?conversa={{ conversa_filho.pk }}&curtir=false">Não Curtir</a> (<span class="unlike-count">{{ conversa_filho.naocurtiu.count }}</span>)
                                            {% else %}
                                                Curtir (<span class="like-count">{{ conversa_filho.curtiu.count }}</span>)
                                                | Não Curtir (<span class="unlike-count">{{ conversa_filho.naocurtiu.count }}</span>)
                                            {% endif %}
                                            {% if object.status == 'A' and request.user == conversa_filho.autor %}
                                                | <a class="edit-link" href="javascript://">Editar</a>
                                            {% endif %}
                                            </small>
                                        </blockquote>

                                        {% if object.status == 'A' and request.user == conversa_filho.autor %}
                                        <form action="" method="POST" role="form" class="edit-form">{% csrf_token %}
                                                <div class="panel-body">
                                                    <input type="hidden" class="form-control" name="conversa_pai" id="id_conversa_pai" value="{{ conversa.pk }}" />
                                                    <input type="hidden" class="form-control" name="conversa" id="id_conversa" value="{{ conversa_filho.pk }}" />
                                                    <textarea id="id_texto-edit-{{ conversa_filho.pk }}" rows="10" cols="40" class="form-control" name="texto">{{ conversa_filho.texto }}</textarea>
                                                    <br>
                                                    <button type="submit" class="btn btn-success">Editar</button>
                                                </div>
                                        </form>
                                        <script type="text/javascript">
                                            CKEDITOR.replace("id_texto-edit-{{ conversa_filho.pk }}", {"height": 50, "width": '100%', "skin": "moono", "toolbar": [["Bold", "Italic", "Underline"]]});
                                        </script>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}

                                <small>
                                    {% if object.status == 'A' %}
                                        <a class="like-link" href="?conversa={{ conversa.pk }}&curtir=true">Curtir</a> (<span class="like-count">{{ conversa.curtiu.count }}</span>)
                                        | <a class="like-link" href="?conversa={{ conversa.pk }}&curtir=false">Não Curtir</a> (<span class="unlike-count">{{ conversa.naocurtiu.count }}</span>)
                                        | <a class="responder-link" href="javascript://">Responder</a>
                                    {% else %}
                                        Curtir (<span class="like-count">{{ conversa.curtiu.count }}</span>)
                                        | Não Curti (<span class="unlike-count">{{ conversa.naocurtiu.count }}</span>)
                                    {% endif %}
                                </small>

                                {% if object.status == 'A' %}
                                <form action="" method="POST" role="form" class="responder-form">{% csrf_token %}
                                    <div class="panel panel-default panel-conversa">
                                        <div class="panel-body">
                                            <input type="hidden" class="form-control" name="conversa_pai" id="id_conversa_pai" value="{{ conversa.pk }}" />
                                            <textarea id="id_texto-{{ conversa.pk }}" rows="10" cols="40" class="form-control" name="texto"></textarea>
                                            <br>
                                            <button type="submit" class="btn btn-success">Responder</button>
                                        </div>
                                    </div>
                                </form>
                                <script type="text/javascript">
                                    CKEDITOR.replace("id_texto-{{ conversa.pk }}", {"height": 50, "width": '100%', "skin": "moono", "toolbar": [["Bold", "Italic", "Underline"]]});
                                </script>
                                {% endif %}
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}

                    <nav>
                        <ul class="pager">
                            {% if conversas.has_previous %}
                            <li class="previous"><a href="{{ conversas.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
                            {% endif %}
                            {% if conversas.has_next %}
                            <li class="next"><a href="{{ conversas.next_page_number }}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>

                    {% if object.status == 'A' %}
                    <form action="" method="POST" role="form">{% csrf_token %}
                        <div class="panel panel-default panel-conversa">
                            <div class="panel-body">
                                <h3>Novo comentário</h3>
                                <div class="form-group{% if form.texto.errors %} has-error has-feedback{% endif %} group-{{ form.texto.name }}">
                                    {{ form.texto|btform }}
                                    {% if form.texto.errors %}
                                    <ul class="list-unstyled">
                                        {% for error in form.texto.errors %}
                                        <li class="text-error"><small>{{ error }}</small></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-success">Adicionar</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<style type="text/css">
    .cke_bottom { display: none !important }
    .cke_contents {min-height: 100px !important; width: 100% !important;}
    .responder-form, .edit-form { display: none }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('.responder-link').click(function(event) {
        $(this).parent().parent().find('.responder-form').slideToggle();
    });
    $('.edit-link').click(function(event) {
        $(this).parent().parent().parent().find('.edit-form').slideToggle();
    });

    $('.like-link').click(function(event) {
        var likelink = $(this);
        $.getJSON(likelink.attr('href'), function(data) {
            $(likelink).parent().find('.like-count').html(data.curtiu);
            $(likelink).parent().find('.unlike-count').html(data.naocurtiu);
        });
        return false;
    });
</script>
{% endblock %}