{% load bootstrap %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group{% if form.nome.errors %} has-error has-feedback{% endif %} group-{{ form.nome.name }}">
            <label class="control-label label-{{ form.nome.name }}" for="id_{{ form.nome.name }}">{{ form.nome.label }}{% if form.nome.field.required %}*{% endif %}</label>
            {{ form.nome|btform }}
            {% if form.nome.errors %}
            <ul class="list-unstyled">
            {% for error in form.nome.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.email.errors %} has-error has-feedback{% endif %} group-{{ form.email.name }}">
            <label class="control-label label-{{ form.email.name }}" for="id_{{ form.email.name }}">{{ form.email.label }}{% if form.email.field.required %}*{% endif %}</label>
            {{ form.email|btform }}
            {% if form.email.errors %}
            <ul class="list-unstyled">
            {% for error in form.email.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.cpf.errors %} has-error has-feedback{% endif %} group-{{ form.cpf.name }}">
            <label class="control-label label-{{ form.cpf.name }}" for="id_{{ form.cpf.name }}">{{ form.cpf.label }}{% if form.cpf.field.required %}*{% endif %}</label>
            {{ form.cpf|btform }}
            {% if form.cpf.errors %}
            <ul class="list-unstyled">
            {% for error in form.cpf.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.sexo.errors %} has-error has-feedback{% endif %} group-{{ form.sexo.name }}">
            <label class="control-label label-{{ form.sexo.name }}" for="id_{{ form.sexo.name }}">{{ form.sexo.label }}{% if form.sexo.field.required %}*{% endif %}</label>
            {{ form.sexo|btform }}
            {% if form.sexo.errors %}
            <ul class="list-unstyled">
            {% for error in form.sexo.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-inline">
        <div class="form-group{% if form.celular.errors %} has-error has-feedback{% endif %} group-{{ form.celular.name }}">
            <label class="control-label label-{{ form.celular.name }}" for="id_{{ form.celular.name }}">{{ form.celular.label }}{% if form.celular.field.required %}*{% endif %}</label>
            {{ form.celular|btform }}
            {% if form.celular.errors %}
            <ul class="list-unstyled">
            {% for error in form.celular.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.residencial.errors %} has-error has-feedback{% endif %} group-{{ form.residencial.name }}">
            <label class="control-label label-{{ form.residencial.name }}" for="id_{{ form.residencial.name }}">{{ form.residencial.label }}{% if form.residencial.field.required %}*{% endif %}</label>
            {{ form.residencial|btform }}
            {% if form.residencial.errors %}
            <ul class="list-unstyled">
            {% for error in form.residencial.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        </div>
        <div class="form-group{% if form.atividade_profissional.errors %} has-error has-feedback{% endif %} group-{{ form.atividade_profissional.name }}">
            <label class="control-label label-{{ form.atividade_profissional.name }}" for="id_{{ form.atividade_profissional.name }}">{{ form.atividade_profissional.label }}{% if form.atividade_profissional.field.required %}*{% endif %}</label>
            {{ form.atividade_profissional|btform }}
            {% if form.atividade_profissional.errors %}
            <ul class="list-unstyled">
            {% for error in form.atividade_profissional.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.contrib_tipo.errors %} has-error has-feedback{% endif %} group-{{ form.contrib_tipo.name }}">
            <label class="control-label label-{{ form.contrib_tipo.name }}" for="id_{{ form.contrib_tipo.name }}">{{ form.contrib_tipo.label }}{% if form.contrib_tipo.field.required %}*{% endif %}</label>
            {{ form.contrib_tipo|btform }}
            {% if form.contrib_tipo.errors or form.contrib_tipo.help_text %}
            <ul class="list-unstyled">
            {% if form.contrib_tipo.help_text %}<li><small>{{ form.contrib_tipo.help_text }}</small></li>{% endif %}
            {% for error in form.contrib_tipo.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.contrib_valor.errors %} has-error has-feedback{% endif %} group-{{ form.contrib_valor.name }}">
            <label class="control-label label-{{ form.contrib_valor.name }}" for="id_{{ form.contrib_valor.name }}">{{ form.contrib_valor.label }}{% if form.contrib_valor.field.required %}*{% endif %}</label>
            {{ form.contrib_valor|btform }}
            {% if form.contrib_valor.errors %}
            <ul class="list-unstyled">
            {% for error in form.contrib_valor.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.estadocivil.errors %} has-error has-feedback{% endif %} group-{{ form.estadocivil.name }}">
            <label class="control-label label-{{ form.estadocivil.name }}" for="id_{{ form.estadocivil.name }}">{{ form.estadocivil.label }}{% if form.estadocivil.field.required %}*{% endif %}</label>
            {{ form.estadocivil|btform }}
            {% if form.estadocivil.errors %}
            <ul class="list-unstyled">
            {% for error in form.estadocivil.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-inline">
            <div class="form-group{% if form.uf_naturalidade.errors %} has-error has-feedback{% endif %} group-{{ form.uf_naturalidade.name }}">
                <label class="control-label label-{{ form.uf_naturalidade.name }}" for="id_{{ form.uf_naturalidade.name }}">{{ form.uf_naturalidade.label }}{% if form.uf_naturalidade.field.required %}*{% endif %}</label>
                {{ form.uf_naturalidade|btform }}
                {% if form.uf_naturalidade.errors %}
                <ul class="list-unstyled">
                {% for error in form.uf_naturalidade.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.municipio_naturalidade.errors %} has-error has-feedback{% endif %} group-{{ form.municipio_naturalidade.name }}">
                <label class="control-label label-{{ form.municipio_naturalidade.name }}" for="id_{{ form.municipio_naturalidade.name }}">{{ form.municipio_naturalidade.label }}{% if form.municipio_naturalidade.field.required %}*{% endif %}</label>
                {{ form.municipio_naturalidade|btform }}
                {% if form.municipio_naturalidade.errors %}
                <ul class="list-unstyled">
                {% for error in form.municipio_naturalidade.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Dados de Endereço</h3>
        <div class="form-inline">
            <div class="form-group{% if form.endereco_cep.errors %} has-error has-feedback{% endif %} group-{{ form.endereco_cep.name }}">
                <label class="control-label label-{{ form.endereco_cep.name }}" for="id_{{ form.endereco_cep.name }}">{{ form.endereco_cep.label }}{% if form.endereco_cep.field.required %}*{% endif %}</label>
                {{ form.endereco_cep|btform }}
                {% if form.endereco_cep.errors %}
                <ul class="list-unstyled">
                {% for error in form.endereco_cep.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.uf.errors %} has-error has-feedback{% endif %} group-{{ form.uf.name }}">
                <label class="control-label label-{{ form.uf.name }}" for="id_{{ form.uf.name }}">{{ form.uf.label }}{% if form.uf.field.required %}*{% endif %}</label>
                {{ form.uf|btform }}
                {% if form.uf.errors %}
                <ul class="list-unstyled">
                {% for error in form.uf.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.municipio.errors %} has-error has-feedback{% endif %} group-{{ form.municipio.name }}">
                <label class="control-label label-{{ form.municipio.name }}" for="id_{{ form.municipio.name }}">{{ form.municipio.label }}{% if form.municipio.field.required %}*{% endif %}</label>
                {{ form.municipio|btform }}
                {% if form.municipio.errors %}
                <ul class="list-unstyled">
                {% for error in form.municipio.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group{% if form.endereco.errors %} has-error has-feedback{% endif %} group-{{ form.endereco.name }}">
                <label class="control-label label-{{ form.endereco.name }}" for="id_{{ form.endereco.name }}">{{ form.endereco.label }}{% if form.endereco.field.required %}*{% endif %}</label>
                {{ form.endereco|btform }}
                {% if form.endereco.errors %}
                <ul class="list-unstyled">
                {% for error in form.endereco.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.endereco_num.errors %} has-error has-feedback{% endif %} group-{{ form.endereco_num.name }}">
                <label class="control-label label-{{ form.endereco_num.name }}" for="id_{{ form.endereco_num.name }}">{{ form.endereco_num.label }}{% if form.endereco_num.field.required %}*{% endif %}</label>
                {{ form.endereco_num|btform }}
                {% if form.endereco_num.errors %}
                <ul class="list-unstyled">
                {% for error in form.endereco_num.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.endereco_complemento.errors %} has-error has-feedback{% endif %} group-{{ form.endereco_complemento.name }}">
            <label class="control-label label-{{ form.endereco_complemento.name }}" for="id_{{ form.endereco_complemento.name }}">{{ form.endereco_complemento.label }}{% if form.endereco_complemento.field.required %}*{% endif %}</label>
            {{ form.endereco_complemento|btform }}
            {% if form.endereco_complemento.errors %}
            <ul class="list-unstyled">
            {% for error in form.endereco_complemento.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Dados Eleitorais</h3>
        <div class="form-inline">
            <div class="form-group{% if form.dtnascimento.errors %} has-error has-feedback{% endif %} group-{{ form.dtnascimento.name }}">
                <label class="control-label label-{{ form.dtnascimento.name }}" for="id_{{ form.dtnascimento.name }}">{{ form.dtnascimento.label }}{% if form.dtnascimento.field.required %}*{% endif %}</label>
                {{ form.dtnascimento|btform }}
                {% if form.dtnascimento.errors %}
                <ul class="list-unstyled">
                {% for error in form.dtnascimento.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.nome_da_mae.errors %} has-error has-feedback{% endif %} group-{{ form.nome_da_mae.name }}">
                <label class="control-label label-{{ form.nome_da_mae.name }}" for="id_{{ form.nome_da_mae.name }}">{{ form.nome_da_mae.label }}{% if form.nome_da_mae.field.required %}*{% endif %}</label>
                {{ form.nome_da_mae|btform }}
                {% if form.nome_da_mae.errors %}
                <ul class="list-unstyled">
                {% for error in form.nome_da_mae.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group{% if form.uf_eleitoral.errors %} has-error has-feedback{% endif %} group-{{ form.uf_eleitoral.name }}">
                <label class="control-label label-{{ form.uf_eleitoral.name }}" for="id_{{ form.uf_eleitoral.name }}">{{ form.uf_eleitoral.label }}{% if form.uf_eleitoral.field.required %}*{% endif %}</label>
                {{ form.uf_eleitoral|btform }}
                {% if form.uf_eleitoral.errors %}
                <ul class="list-unstyled">
                {% for error in form.uf_eleitoral.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.municipio_eleitoral.errors %} has-error has-feedback{% endif %} group-{{ form.municipio_eleitoral.name }}">
                <label class="control-label label-{{ form.municipio_eleitoral.name }}" for="id_{{ form.municipio_eleitoral.name }}">{{ form.municipio_eleitoral.label }}{% if form.municipio_eleitoral.field.required %}*{% endif %}</label>
                {{ form.municipio_eleitoral|btform }}
                {% if form.municipio_eleitoral.errors %}
                <ul class="list-unstyled">
                {% for error in form.municipio_eleitoral.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group{% if form.zona_eleitoral.errors %} has-error has-feedback{% endif %} group-{{ form.zona_eleitoral.name }}">
                    <label class="control-label label-{{ form.zona_eleitoral.name }}" for="id_{{ form.zona_eleitoral.name }}">{{ form.zona_eleitoral.label }}{% if form.zona_eleitoral.field.required %}*{% endif %}</label>
                    {{ form.zona_eleitoral|btform }}
                {% if form.zona_eleitoral.errors %}
                <ul class="list-unstyled">
                {% for error in form.zona_eleitoral.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.secao_eleitoral.errors %} has-error has-feedback{% endif %} group-{{ form.secao_eleitoral.name }}">
                    <label class="control-label label-{{ form.secao_eleitoral.name }}" for="id_{{ form.secao_eleitoral.name }}">{{ form.secao_eleitoral.label }}{% if form.secao_eleitoral.field.required %}*{% endif %}</label>
                    {{ form.secao_eleitoral|btform }}
                {% if form.secao_eleitoral.errors %}
                <ul class="list-unstyled">
                {% for error in form.secao_eleitoral.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group{% if form.titulo_eleitoral.errors %} has-error has-feedback{% endif %} group-{{ form.titulo_eleitoral.name }}">
                <label class="control-label label-{{ form.titulo_eleitoral.name }}" for="id_{{ form.titulo_eleitoral.name }}">{{ form.titulo_eleitoral.label }}{% if form.titulo_eleitoral.field.required %}*{% endif %}</label>
                <div class="input-group">
                    {{ form.titulo_eleitoral|btform }}
                    <a class="input-group-addon" href="http://www.tse.jus.br/eleitor/servicos/titulo-e-local-de-votacao/consulta-por-nome" target="_blank">Não sabe os seus dados? Clique aqui para fazer a consulta no TSE</a>
                </div>
                {% if form.titulo_eleitoral.errors %}
                <ul class="list-unstyled">
                {% for error in form.titulo_eleitoral.errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.filiacao_partidaria.errors %} has-error has-feedback{% endif %} group-{{ form.filiacao_partidaria.name }}">
            <label class="control-label label-{{ form.filiacao_partidaria.name }}" for="id_{{ form.filiacao_partidaria.name }}">{{ form.filiacao_partidaria.label }}{% if form.filiacao_partidaria.field.required %}*{% endif %}</label>
            {{ form.filiacao_partidaria|btform }}
            {% if form.filiacao_partidaria.errors %}
            <ul class="list-unstyled">
            {% for error in form.filiacao_partidaria.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group{% if form.captcha.errors %} has-error has-feedback{% endif %} group-{{ form.captcha.name }}">
            <label class="control-label label-{{ form.captcha.name }}" for="id_{{ form.captcha.name }}">{{ form.captcha.label }}{% if form.captcha.field.required %}*{% endif %}</label>
            {{ form.captcha|btform }}
            {% if form.captcha.errors %}
            <ul class="list-unstyled">
            {% for error in form.captcha.errors %}
              <li class="text-error"><small>{{ error }}</small></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
