{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Atualização de Cadastro da Raiz - {% endblock %}
{% block ogtitle %}Atualização de Cadastro da Raiz - {% endblock %}

{% block description %}Atualização de Cadastro da Raiz - {% endblock %}
{% block ogdescription %}Atualização de Cadastro da Raiz - {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Atualização de Cadastro da Raiz</h3>
        <p>Olá {{ form.instance.nome }}, atualize os seus dados abaixo.</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            {% include 'cadastro/includes/form-filiado.html' %}
            <button type="submit" class="btn btn-success">Atualizar</button>
        </form>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_email, #id_atividade_profissional, #id_nome_da_mae, #id_endereco, #id_endereco_complemento {max-width: 500px;}
    @media (min-width: 992px){
        #id_nome_da_mae, #id_endereco {width: 500px;}
    }
    #id_uf, #id_sexo, #id_dtnascimento, #id_rg, #id_titulo_eleitoral,  #id_uf_eleitoral, #id_cpf, #id_contrib_valor, #id_endereco_cep {max-width: 165px;}
    #id_zona_eleitoral, #id_secao_eleitoral, #id_endereco_num {max-width: 80px;}
    #id_municipio, #id_celular, #id_residencial, #id_municipio_eleitoral, #id_filiacao_partidaria, #id_contrib_tipo, #id_estadocivil {max-width: 300px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }
</style>
{% endblock %}


{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_dtnascimento').mask('00/00/0000');
        $('#id_celular, #id_residencial').mask('(00)00000-0000');
        $('#id_cpf').mask('000.000.000-00');
        $('#id_endereco_cep').mask('00000-000');

        var default_municipio = $('#id_municipio').val();
        $('#id_municipio').remove();
        $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');

        var default_municipio_eleitoral = $('#id_municipio_eleitoral').val();
        $('#id_municipio_eleitoral').remove();
        $('.group-municipio_eleitoral').append('<select name="municipio_eleitoral" class="form-control" id="id_municipio_eleitoral"></select>');

        function get_municipios(id_uf, id_municipios, def_municipio){
            $(id_municipios).html('');
            uf = parseInt($(id_uf).val());
            if(uf){
                url = "/chaining/filter/municipios/municipio/uf/"+uf+"/";
                $.getJSON(url, function(data){
                    $.each(data, function(key, val) {
                        if(def_municipio == val.display){
                            $(id_municipios).append('<option value="'+val.display+'" selected="selected">'+val.display+'</option>');
                        }else{
                            $(id_municipios).append('<option value="'+val.display+'">'+val.display+'</option>');
                        }
                    });
                });
            }
        }

        get_municipios('#id_uf', '#id_municipio', default_municipio);
        $("#id_uf").change(function(){
            get_municipios('#id_uf', '#id_municipio', default_municipio);
        });

        get_municipios('#id_uf_eleitoral', '#id_municipio_eleitoral', default_municipio_eleitoral);
        $("#id_uf_eleitoral").change(function(){
            get_municipios('#id_uf_eleitoral', '#id_municipio_eleitoral', default_municipio_eleitoral);
        });
    });
</script>
{% endblock %}
