{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Atualização de Cadastro da Raiz - {% endblock %}
{% block ogtitle %}Atualização de Cadastro da Raiz - {% endblock %}

{% block description %}Atualização de Cadastro da Raiz - {% endblock %}
{% block ogdescription %}Atualização de Cadastro da Raiz - {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Atualização de Cadastro da Raiz</h3>
        <p>Olá {{ form.instance.nome }}, atualize os seus dados abaixo.</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                            {% if field|btischeckbox %}
                                {{ field|btform }}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                            {% else %}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                {{ field|btform }}
                            {% endif %}
                            {% if field.errors or field.help_text %}
                            <ul class="list-unstyled">
                            {% if field.help_text %}<li><small>{{ field.help_text }}</small></li>{% endif %}
                            {% for error in field.errors %}
                              <li class="text-error"><small>{{ error }}</small></li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <a href="?filiado=true"><button type="button" class="btn btn-success">Clique aqui caso queira se tornar um pré-filiado</button></a>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Atualizar</button>
        </form>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_apelido, #id_email, #id_atividade_profissional {max-width: 500px;}
    #id_uf, #id_sexo, #id_dtnascimento, #id_rg, #id_cpf, #id_titulo_eleitoral, #id_uf_eleitoral, #id_contrib_valor {max-width: 165px;}
    #id_municipio, #id_celular, #id_residencial, #id_municipio_eleitoral, #id_filiacao_partidaria, #id_contrib_tipo {max-width: 300px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }
</style>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_dtnascimento').mask('00/00/0000');
        $('#id_celular, #id_residencial').mask('(00)00000-0000');
        $('#id_cpf').mask('000.000.000-00');

        var default_municipio = $('#id_municipio').val();
        $('#id_municipio').remove();
        $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');

        function get_municipios(id_uf, id_municipios, def_municipio){
            $(id_municipios).html('');
            uf = parseInt($(id_uf).val());
            if(uf){
                url = "/chaining/filter/municipios/municipio/uf/"+uf+"/";
                $.getJSON(url, function(data){
                    $(id_municipios).append('<option value="">--------</option>');
                    $.each(data, function(key, val) {
                        if(def_municipio == val.display){
                            $(id_municipios).append('<option value="'+val.display+'" selected="selected">'+val.display+'</option>');
                        }else{
                            $(id_municipios).append('<option value="'+val.display+'">'+val.display+'</option>');
                        }
                    });
                });
            }
        }

        get_municipios('#id_uf', '#id_municipio', default_municipio);
        $("#id_uf").change(function(){
            get_municipios('#id_uf', '#id_municipio', default_municipio);
        });
    });
</script>
{% endblock %}