{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Atualização de Cadastro da Raiz - {% endblock %}
{% block ogtitle %}Atualização de Cadastro da Raiz - {% endblock %}

{% block description %}Atualização de Cadastro da Raiz - {% endblock %}
{% block ogdescription %}Atualização de Cadastro da Raiz - {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Atualização de Cadastro</h3>
        <p>Primeiro, informe o seu email <b>OU</b> o seu CPF.</p>
        <p>Após clicar no botão Enviar, um link será enviado para o seu email para que você possa atualizar seus dados.</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group{% if form.email.errors %} has-error has-feedback{% endif %} group-{{ form.email.name }}">
                        <label class="control-label label-{{ form.email.name }}" for="id_{{ form.email.name }}">{{ form.email.label }}{% if form.email.field.required %}*{% endif %}</label>
                        {{ form.email|btform }}
                        {% if form.email.errors %}
                        <ul class="list-unstyled">
                        {% for error in form.email.errors %}
                          <li class="text-error"><small>{{ error }}</small></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-group{% if form.cpf.errors %} has-error has-feedback{% endif %} group-{{ form.cpf.name }}">
                        <label class="control-label label-{{ form.cpf.name }}" for="id_{{ form.cpf.name }}">{{ form.cpf.label }}{% if form.cpf.field.required %}*{% endif %}</label>
                        {{ form.cpf|btform }}
                        {% if form.cpf.errors %}
                        <ul class="list-unstyled">
                        {% for error in form.cpf.errors %}
                          <li class="text-error"><small>{{ error }}</small></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_email, #id_cpf {max-width: 500px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }
</style>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_cpf').mask('000.000.000-00');
    });
</script>
{% endblock %}
