{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}{{ title }} - {% endblock %}
{% block ogtitle %}{{ title }} - {% endblock %}

{% block description %}{{ title }} - {% endblock %}
{% block ogdescription %}{{ title }} - {% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    {{ msg|safe }}
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}