{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}{{ title }} - {% endblock %}
{% block ogtitle %}{{ title }} - {% endblock %}

{% block description %}{{ title }} - {% endblock %}
{% block ogdescription %}{{ title }} - {% endblock %}

{% block main %}
<div class="content-main contact-content margin-b-30">
    <div class="contact-content-upper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>{{ msg }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}