{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Cadastro de Pré-Filiados - {% endblock %}
{% block ogtitle %}Cadastro de Pré-Filiados - {% endblock %}

{% block description %}Cadastro de Pré-Filiados - {% endblock %}
{% block ogdescription %}Cadastro de Pré-Filiados - {% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    <a href="" class="pi-link-dark">Cadastro de Pré-Filiados</a>
                </h4>
                <p>Este Cadastro destina-se ao cadastramento de pessoas que estejam interessadas em afiliar-se ao futuro Partido Raiz.</p>
                <p>Caso você queira apenas atualizar os seus dados ou a sua contribuição, <a href="{% url atualizar_cadastro_link %}">clique aqui</a>.</p>
                <div class="row">
                    <div class="col-md-12">
                        <form action="" method="POST" role="form">{% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error|safe }}</div>
                            {% endfor %}
                            {% include 'cadastro/includes/form-filiado.html' %}
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                ...
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_apelido, #id_email, #id_atividade_profissional, #id_nome_da_mae, #id_endereco, #id_endereco_complemento {max-width: 500px;}
    @media (min-width: 992px){
        #id_nome_da_mae, #id_endereco {width: 500px;}
    }
    #id_uf, #id_sexo, #id_dtnascimento, #id_rg, #id_titulo_eleitoral, #id_uf_eleitoral, #id_cpf, #id_contrib_valor, #id_endereco_cep, #id_uf_naturalidade {max-width: 165px;}
    #id_zona_eleitoral, #id_secao_eleitoral, #id_endereco_num {max-width: 80px;}
    #id_municipio, #id_celular, #id_residencial, #id_municipio_eleitoral, #id_filiacao_partidaria, #id_contrib_tipo, #id_estadocivil, #id_municipio_naturalidade {max-width: 300px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }

    #myModal {margin-top: 300px;}
    #myModal .modal-body {font-size: 18px;}
    #myModal .modal-body a {font-weight: bold; font-size: 22px;}
</style>
{% endblock %}


{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_dtnascimento').mask('00/00/0000');
        $('#id_celular, #id_residencial').mask('(00)00000-0000');
        $('#id_cpf').mask('000.000.000-00');
        $('#id_endereco_cep').mask('00000-000');

        $('#id_municipio').remove();
        $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');

        $('#id_municipio_eleitoral').remove();
        $('.group-municipio_eleitoral').append('<select name="municipio_eleitoral" class="form-control" id="id_municipio_eleitoral"></select>');

        $('#id_municipio_naturalidade').remove();
        $('.group-municipio_naturalidade').append('<select name="municipio_naturalidade" class="form-control" id="id_municipio_naturalidade"></select>');

        function get_municipios(id_uf, id_municipios){
            $(id_municipios).html('');
            uf = parseInt($(id_uf).val());
            if(uf){
                url = "/chaining/filter/municipios/Municipio/?uf="+uf;
                $.getJSON(url, function(data){
                    $(id_municipios).append('<option value="">--------</option>');
                    $.each(data, function(key, val ) {
                        $(id_municipios).append('<option value="'+val.display+'">'+val.display+'</option>');
                    });
                });
            }
        }

        get_municipios('#id_uf', '#id_municipio');
        $("#id_uf").change(function(){
            /* Trocar label do UF: Fora do Brasil */
            if($(this).val() == '0'){
                $('.label-municipio').html('País/Cidade');
                $('#id_municipio').remove();
                $('.group-municipio').append('<input type="text" name="municipio" class="form-control" id="id_municipio">');
            }else{
                get_municipios('#id_uf', '#id_municipio');
                $('.label-municipio').html('Município');
                $('#id_municipio').remove();
                $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');
            }
        });

        get_municipios('#id_uf_eleitoral', '#id_municipio_eleitoral');
        $("#id_uf_eleitoral").change(function(){
            /* Trocar label do UF: Fora do Brasil */
            if($(this).val() == '0'){
                $('.label-municipio_eleitoral').html('País/Cidade*');
                $('#id_municipio_eleitoral').remove();
                $('.group-municipio_eleitoral').append('<input type="text" name="municipio_eleitoral" class="form-control" id="id_municipio_eleitoral">');
            }else{
                get_municipios('#id_uf_eleitoral', '#id_municipio_eleitoral');
                $('.label-municipio_eleitoral').html('Município Eleitoral*');
                $('#id_municipio_eleitoral').remove();
                $('.group-municipio_eleitoral').append('<select name="municipio_eleitoral" class="form-control" id="id_municipio_eleitoral"></select>');
            }
        });

        get_municipios('#id_uf_naturalidade', '#id_municipio_naturalidade');
        $("#id_uf_naturalidade").change(function(){
            /* Trocar label do UF: Fora do Brasil */
            if($(this).val() == '0'){
                $('.label-municipio_naturalidade').html('Naturalidade: País/Cidade');
                $('#id_municipio_naturalidade').remove();
                $('.group-municipio_naturalidade').append('<input type="text" name="municipio_naturalidade" class="form-control" id="id_municipio_naturalidade">');
            }else{
                get_municipios('#id_uf_naturalidade', '#id_municipio_naturalidade');
                $('.label-municipio_naturalidade').html('Naturalidade: Município');
                $('#id_municipio_naturalidade').remove();
                $('.group-municipio_naturalidade').append('<select name="municipio_naturalidade" class="form-control" id="id_municipio_naturalidade"></select>');
            }
        });

        $("#id_email").change(function(){
            $.ajax({
              dataType: "json",
              url: '{% url filiado %}',
              data: {'email': $(this).val()},
              success: function(data){
                if(data.msg != ""){
                    $("#myModal .modal-body").html(data.msg);
                    $('#myModal').modal('show');
                }
              }
            });
        })
        $("#id_cpf").change(function(){
            $.ajax({
              dataType: "json",
              url: '{% url filiado %}',
              data: {'cpf': $(this).val()},
              success: function(data){
                $(".group-cpf .list-unstyled").remove();
                if(data.msg != ""){
                    $("#myModal .modal-body").html(data.msg);
                    $('#myModal').modal('show');
                }
              }
            });
        })
    });
</script>
{% endblock %}
