{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Cadastro de Pré-Filiados - {% endblock %}
{% block ogtitle %}Cadastro de Pré-Filiados - {% endblock %}

{% block description %}Cadastro de Pré-Filiados - {% endblock %}
{% block ogdescription %}Cadastro de Pré-Filiados - {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Cadastro de Pré-Filiados</h3>
        <p>Este Cadastro destina-se ao cadastramento de pessoas que estejam interessadas em afiliar-se ao futuro Partido Raiz</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            {% include 'cadastro/includes/form-filiado.html' %}
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                ...
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_email, #id_atividade_profissional, #id_nome_da_mae {max-width: 500px;}
    @media (min-width: 992px){
        #id_nome_da_mae {width: 500px;}
    }
    #id_uf, #id_sexo, #id_dtnascimento, #id_rg, #id_titulo_eleitoral,  #id_uf_eleitoral, #id_cpf, #id_contrib_valor {max-width: 165px;}
    #id_zona_eleitoral, #id_secao_eleitoral {max-width: 80px;}
    #id_municipio, #id_celular, #id_residencial, #id_municipio_eleitoral, #id_filiacao_partidaria, #id_contrib_tipo {max-width: 300px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }

    #myModal {margin-top: 300px;}
    #myModal .modal-body {font-size: 18px;}
    #myModal .modal-body a {font-weight: bold; font-size: 22px;}
</style>
{% endblock %}


{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_dtnascimento').mask('00/00/0000');
        $('#id_celular, #id_residencial').mask('(00)00000-0000');
        $('#id_cpf').mask('000.000.000-00');

        $('#id_municipio').remove();
        $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');

        $('#id_municipio_eleitoral').remove();
        $('.group-municipio_eleitoral').append('<select name="municipio_eleitoral" class="form-control" id="id_municipio_eleitoral"></select>');

        function get_municipios(id_uf, id_municipios){
            $(id_municipios).html('');
            uf = parseInt($(id_uf).val());
            if(uf){
                url = "/chaining/filter/municipios/municipio/uf/"+uf+"/";
                $.getJSON(url, function(data){
                    $.each(data, function(key, val ) {
                        $(id_municipios).append('<option value="'+val.display+'">'+val.display+'</option>');
                    });
                });
            }
        }

        get_municipios('#id_uf', '#id_municipio');
        $("#id_uf").change(function(){
            get_municipios('#id_uf', '#id_municipio');
        });

        get_municipios('#id_uf_eleitoral', '#id_municipio_eleitoral');
        $("#id_uf_eleitoral").change(function(){
            get_municipios('#id_uf_eleitoral', '#id_municipio_eleitoral');
        });

        $("#id_email").change(function(){
            $.ajax({
              dataType: "json",
              url: '{% url filiado %}',
              data: {'email': $(this).val()},
              success: function(data){
                if(data.msg != ""){
                    $("#myModal .modal-body").html(data.msg);
                    $('#myModal').modal('show');
                }
              }
            });
        })
        $("#id_cpf").change(function(){
            $.ajax({
              dataType: "json",
              url: '{% url filiado %}',
              data: {'cpf': $(this).val()},
              success: function(data){
                $(".group-cpf .list-unstyled").remove();
                if(data.msg != ""){
                    $("#myModal .modal-body").html(data.msg);
                    $('#myModal').modal('show');
                }
              }
            });
        })
    });
</script>
{% endblock %}
