{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Cadastro de Colaborador - {% endblock %}
{% block ogtitle %}Cadastro de Colaborador - {% endblock %}

{% block description %}Cadastro de Colaborador {% endblock %}
{% block ogdescription %}Cadastro de Colaborador {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Cadastro de Colaboradores</h3>
        <p>Este Cadastro destina-se ao cadastramento de pessoas que estejam interessadas em colaborar com o Movimento Raiz Cidadanista. O preenchimento deste formulário ratifica o compromisso do membro com a Carta Cidadanista.</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                            {% if field|btischeckbox %}
                                {{ field|btform }}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                            {% else %}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                {{ field|btform }}
                            {% endif %}
                            {% if field.errors %}
                            <ul class="list-unstyled">
                            {% for error in field.errors %}
                              <li class="text-error"><small>{{ error }}</small></li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_email, #id_atividade_profissional {max-width: 500px;}
    #id_uf, #id_sexo, #id_dtnascimento, #id_rg, #id_titulo_eleitoral, #id_uf_eleitoral, #id_contrib_valor {max-width: 165px;}
    #id_municipio, #id_celular, #id_residencial, #id_municipio_eleitoral, #id_filiacao_partidaria, #id_contrib_tipo {max-width: 300px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }
</style>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_dtnascimento').mask('00/00/0000');
        $('#id_celular, #id_residencial').mask('(00)00000-0000');

        $('#id_municipio').remove();
        $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');

        function get_municipios(id_uf, id_municipios){
            $(id_municipios).html('');
            uf = parseInt($(id_uf).val());
            if(uf){
                url = "/chaining/filter/municipios/municipio/uf/"+uf+"/";
                $.getJSON(url, function(data){
                    $.each(data, function(key, val ) {
                        $(id_municipios).append('<option value="'+val.display+'">'+val.display+'</option>');
                    });
                });
            }
        }

        get_municipios('#id_uf', '#id_municipio');
        $("#id_uf").change(function(){
            get_municipios('#id_uf', '#id_municipio');
        });

        $("#id_email").change(function(){
            $.ajax({
              dataType: "json",
              url: '{% url membro %}',
              data: {'email': $(this).val()},
              success: function(data){
                $(".group-email .list-unstyled").remove();
                $(".group-email").removeClass('has-error');
                if(data.msg != ""){
                    $(".group-email").addClass('has-error');
                    $(".group-email").append('<ul class="list-unstyled"><li class="text-error"><small>'+data.msg+'</small></li></ul>');
                }
              }
            });
        })
    });
</script>
{% endblock %}
