{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Cadastro de Colaborador - {% endblock %}
{% block ogtitle %}Cadastro de Colaborador - {% endblock %}

{% block description %}Cadastro de Colaborador {% endblock %}
{% block ogdescription %}Cadastro de Colaborador {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Cadastro de Colaboradores</h3>
        <p>Este Cadastro destina-se ao cadastramento de pessoas que estejam interessadas em colaborar com o Movimento Raiz Cidadanista. O preenchimento deste formulário ratifica o compromisso do membro com a Carta Cidadanista.</p>
        <p>Caso você queira apenas atualizar os seus dados ou a sua contribuição, <a href="{% url atualizar_cadastro_link %}">clique aqui</a>.</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                            {% if field|btischeckbox %}
                                {{ field|btform }}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                            {% else %}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                {{ field|btform }}
                            {% endif %}
                            {% if field.errors or field.help_text %}
                            <ul class="list-unstyled">
                            {% if field.help_text %}<li><small>{{ field.help_text }}</small></li>{% endif %}
                            {% for error in field.errors %}
                              <li class="text-error"><small>{{ error }}</small></li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                ...
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_apelido, #id_email, #id_atividade_profissional {max-width: 500px;}
    #id_uf, #id_sexo, #id_dtnascimento, #id_rg, #id_cpf, #id_titulo_eleitoral, #id_uf_eleitoral, #id_contrib_valor {max-width: 165px;}
    #id_municipio, #id_celular, #id_residencial, #id_municipio_eleitoral, #id_filiacao_partidaria, #id_contrib_tipo {max-width: 300px;}
    @media (max-width: 992px){
        .col-left {display: none; }
    }

    #myModal {margin-top: 300px;}
    #myModal .modal-body {font-size: 18px;}
    #myModal .modal-body a {font-weight: bold; font-size: 22px;}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'site/js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_dtnascimento').mask('00/00/0000');
        $('#id_celular, #id_residencial').mask('(00)00000-0000');
        $('#id_cpf').mask('000.000.000-00');

        $('#id_municipio').remove();
        $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');

        function get_municipios(id_uf, id_municipios){
            $(id_municipios).html('');
            uf = parseInt($(id_uf).val());
            if(uf){
                url = "/chaining/filter/municipios/Municipio/?uf="+uf;
                $.getJSON(url, function(data){
                    $(id_municipios).append('<option value="">--------</option>');
                    $.each(data, function(key, val ) {
                        $(id_municipios).append('<option value="'+val.display+'">'+val.display+'</option>');
                    });
                });
            }
        }

        get_municipios('#id_uf', '#id_municipio');
        $("#id_uf").change(function(){
            /* Trocar label do UF: Fora do Brasil */
            if($(this).val() == '0'){
                $('.label-municipio').html('País/Cidade');
                $('#id_municipio').remove();
                $('.group-municipio').append('<input type="text" name="municipio" class="form-control" id="id_municipio">');
            }else{
                get_municipios('#id_uf', '#id_municipio');
                $('.label-municipio').html('Município');
                $('#id_municipio').remove();
                $('.group-municipio').append('<select name="municipio" class="form-control" id="id_municipio"></select>');
            }
        });

        $("#id_email").change(function(){
            $.ajax({
              dataType: "json",
              url: '{% url membro %}',
              data: {'email': $(this).val()},
              success: function(data){
                if(data.msg != ""){
                    $("#myModal .modal-body").html(data.msg);
                    $('#myModal').modal('show');
                }
              }
            });
        })
    });
</script>
{% endblock %}
