{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Cadastro pré-Fundador e Loomio - {% endblock %}
{% block ogtitle %}Cadastro pré-Fundador e Loomio - {% endblock %}

{% block description %}Cadastro pré-Fundador e Loomio - {% endblock %}
{% block ogdescription %}Cadastro pré-Fundador e Loomio - {% endblock %}

{% block main_content %}
    <h3>Cadastro pré-Fundador e Loomio</h3>
    <p>Este Cadastro destina-se ao Recadastramento dos integrantes do Loomio, bem como a novos membros. Esta plataforma Loomio é o palco da estruturação organizacional da Raiz, espaço de discussões e deliberações "internas" no atual estágio de construção. O preenchimento deste formulário ratifica o compromisso dos membros com a construção do partido, assim como a subscrição da Carta Cidadanista. Esta base de cadastrados é a primeira aproximação para a formação do grupo de Fundadores da Raiz Movimento Cidadanista.</p>
    <form action="" method="POST" role="form">{% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                        {% if field|btischeckbox %}
                            {{ field|btform }}
                            <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                        {% else %}
                            <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                            {{ field|btform }}
                        {% endif %}
                        {% if field.errors %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <ul class="list-unstyled">
                        {% for error in field.errors %}
                          <li class="text-error"><small>{{ error }}</small></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-default">Cadastrar</button>
    </form>
{% endblock %}


{% block css %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
</style>
{% endblock %}