{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Cadastro Mailing e Face - {% endblock %}
{% block ogtitle %}Cadastro Mailing e Face - {% endblock %}

{% block description %}Cadastro Mailing e Face - {% endblock %}
{% block ogdescription %}Cadastro Mailing e Face - {% endblock %}

{% block main_content %}
    <h3>Cadastro Mailing e Face</h3>
    <p>Estes dados não serão divulgados em nenhuma circunstância. Seu email será cadastrado em futuro mailing da Raiz Movimento Cidadanista. Ao enviar este cadastro você poderá também solicitar a entrada <a href="https://www.facebook.com/groups/RaizMovimentoCidadanista/">no nosso grupo do Facebook.</a></p>
    <form action="" method="POST" role="form">{% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                        {% if field|btischeckbox %}
                            {{ field|btform }}
                            <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                        {% else %}
                            <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                            {{ field|btform }}
                        {% endif %}
                        {% if field.errors %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <ul class="list-unstyled">
                        {% for error in field.errors %}
                          <li class="text-error"><small>{{ error }}</small></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-default">Cadastrar</button>
    </form>
{% endblock %}


{% block css %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
</style>
{% endblock %}