{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Recadastramento - {% endblock %}
{% block ogtitle %}Recadastramento - {% endblock %}

{% block description %}Recadastramento - {% endblock %}
{% block ogdescription %}Recadastramento - {% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    <a href="" class="pi-link-dark">Recadastramento</a>
                </h4>
                <div class="panel-body">
                    <div class="form-group pi-col-md-12">
                        <h3>Segue a relação dos círculos aos quais você faz parte:</h3>
                    </div>
                    <div class="form-group pi-col-md-12">
                        {% for cm in membro.circulomembro_set.all %}
                            <label class="control-label">{{ cm.circulo }}</label><br>
                        {% endfor %}
                        <iframe src="{% url circulos %}" width="100%" height="400px" style="border: 0"></iframe>

                        <br>
                        <h4>Caso você faça parte de algum círculo que não esteja listado aqui, <a href="{% url cadastro_circulo %}">peça o registro do seu círculo clicando aqui.</a></h4>
                        <br>
                        <h4>Caso você queira alterar os seus dados pessoais, <a href="{{ membro.get_absolute_update_url }}"> clique aqui para ir para a tela de edição.</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .btn-success {
        background: #94C11E;
        border: 1px #000 solid;
    }

    .form-inline div {
        display: inline;
        margin-right: 20px
    }
</style>
{% endblock %}