{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset complete' %} | {% endblock %}
{% block ogtitle %}{% trans 'Password reset complete' %} | {% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    <a href="" class="pi-link-dark">{% trans 'Password change successful' %}</a>
                </h4>
                <div class="row">
                    <div class="col-md-12">
                        <div id="content-left">
                            <div id="texto-content">
                                <span>
                                    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                                    <p><a href="{% url 'cms_login' %}">{% trans 'Log in' %}</a></p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
