{% extends "base.html" %}
{% load i18n bootstrap %}
{% load url from future %}

{% block title %}Nova Senha | {% endblock %}
{% block ogtitle %}{% trans "Password reset" %} | {% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    <a href="" class="pi-link-dark">Criação de uma nova senha</a>
                </h4>
                <div class="row">
                    <div class="col-md-12">
                        <div id="content-left">
                            <div id="texto-content">
                                <span>
                                    <p>Quer criar uma nova senha? Digite o seu email abaixo e você receberá instruções para definir uma nova senha.</p>
                                    <form action="" method="POST">{% csrf_token %}
                                        <div class="panel-body">
                                            {% if form.non_field_errors %}
                                            <ul class="list-unstyled">
                                            {% for error in form.non_field_errors %}
                                              <li class="text-error"><small>{{ error }}</small></li>
                                            {% endfor %}
                                            </ul>
                                            {% endif %}

                                            {% for field in form %}
                                                {% if field.label != 'Ativo' %}
                                                <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                                                    {% if field|btischeckbox %}
                                                        {{ field|btform }}
                                                        <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                                    {% else %}
                                                        <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                                        {{ field|btform }}
                                                    {% endif %}
                                                    {% if field.errors %}
                                                        <ul class="list-unstyled">
                                                        {% for error in field.errors %}
                                                          <li class="text-error"><small>{{ error }}</small></li>
                                                        {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                            <input type="hidden" name="next" value="/">
                                            <button style="float: left;" type="submit" class="btn btn-success">Enviar</button>
                                        </div>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
