{% extends "base.html" %}
{% load i18n static bootstrap %}
{% load url from future %}

{% block ogtitle %}{% trans 'Password change' %} | {% endblock %}
{% block title %}{% trans 'Password change' %} | {% endblock %}

{% block main %}
<h3>{% trans 'Password change' %}</h3>
<div id="content-left" class="col-md-6">
    <div id="texto-content">
        <span>
            <form action="" method="POST">{% csrf_token %}

                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                {% if form.non_field_errors %}
                <ul class="list-unstyled">
                {% for error in form.non_field_errors %}
                  <li class="text-error"><small>{{ error }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}

                {% for field in form %}
                    {% if field.label != 'Ativo' %}
                    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                        {% if field|btischeckbox %}
                            {{ field|btform }}
                            <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                        {% else %}
                            <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                            {{ field|btform }}
                        {% endif %}
                        {% if field.errors %}
                            <ul class="list-unstyled">
                            {% for error in field.errors %}
                              <li class="text-error"><small>{{ error }}</small></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
                <button style="float: right;" type="submit" class="btn btn-success">{% trans 'Change my password' %}</button>
            </form>
        </span>
    </div>
</div>

{% endblock %}
