{% extends "base.html" %}
{% load i18n bootstrap %}
{% load url from future %}

{% block title %}{% trans 'Password reset' %} | {% endblock %}
{% block ogtitle %}{% trans 'Password reset' %} | {% endblock %}

{% block main %}
{% if validlink %}
<div class="content-main contact-content margin-b-30">
    <div class="contact-content-upper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>{% trans 'Enter new password' %}</h3>
                    <h4>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="content-left" class="col-md-6">
                <div id="texto-content">
                    <span>
                        <form action="" method="POST">{% csrf_token %}
                            {% if form.non_field_errors %}
                            <ul class="list-unstyled">
                            {% for error in form.non_field_errors %}
                              <li class="text-error"><small>{{ error }}</small></li>
                            {% endfor %}
                            </ul>
                            {% endif %}

                            {% for field in form %}
                                {% if field.label != 'Ativo' %}
                                <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                                    {% if field|btischeckbox %}
                                        {{ field|btform }}
                                        <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                    {% else %}
                                        <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                        {{ field|btform }}
                                    {% endif %}
                                    {% if field.errors %}
                                        <ul class="list-unstyled">
                                        {% for error in field.errors %}
                                          <li class="text-error"><small>{{ error }}</small></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" name="next" value="/">
                            <button style="float: right;" type="submit" class="btn btn-success">{% trans 'Change my password' %}</button>
                        </form>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="content-main contact-content margin-b-30">
    <div class="contact-content-upper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>{% trans 'Password reset unsuccessful' %}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="content-left">
                <div id="texto-content">
                    <span>
                        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
