{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset complete' %} | {% endblock %}
{% block ogtitle %}{% trans 'Password reset complete' %} | {% endblock %}

{% block main %}
<div class="content-main contact-content margin-b-30">
    <div class="contact-content-upper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>{% trans 'Password change successful' %}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="content-left">
                <div id="texto-content">
                    <span>
                        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                        <p><a href="{% url 'cms_login' %}">{% trans 'Log in' %}</a></p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
