{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset successful' %} | {% endblock %}
{% block ogtitle %}{% trans 'Password reset successful' %} | {% endblock %}

{% block css %}
<style type="text/css">
    .step-box {
        float: left;
        margin: 0px 10px;
        width: 30%;
    }
    .step-box h2.step-title {
        width: 100%;
        padding: 10px;
        background-color: #94C11E;
        color: #2f7a35;
        font-weight: bold;
        text-align: center;
    }
    .step-box h4.step-subtitle {
        border-bottom: 1px #ccc solid;
        margin-top: 25px;
        padding-bottom: 10px;
            min-height: 50px;
    }
</style>
{% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    <a href="" class="pi-link-dark">{% trans 'Password reset successful' %}</a>
                </h4>
                <div class="row">
                    <div class="col-md-12">
                        <div id="content-left">
                            <div id="texto-content">
                                <span>
                                    <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
                                </span>

                                <div class="step-box">
                                    <h2 class="step-title">1</h2>
                                    <h4 class="step-subtitle"><strong>Passo 1:</strong> Acesse o seu email</h4>
                                    <p>Faça o login na sua conta de email {{ send_email }}</p>
                                </div>
                                <div class="step-box">
                                    <h2 class="step-title">2</h2>
                                    <h4 class="step-subtitle"><strong>Passo 2:</strong> Encontre nossa mensagem</h4>
                                    <p>Procure pelo nossa mensagem com o título <strong>"Redefinição de senha"</strong></p>
                                </div>
                                <div class="step-box">
                                    <h2 class="step-title">3</h2>
                                    <h4 class="step-subtitle"><strong>Passo 3:</strong> Clique no link informado</h4>
                                    <p>Clique no link de confirmação no corpo do email e pronto!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
