{% extends 'admin/edit_form.html' %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    (function($) {
        $(function() {
            $('.vForeignKeyRawIdAdminField').each(function(index, el) {
                if(!$(el).val()){
                  $(el).parent().find('a').append('Adicionar novo');
                }
            });

            $('.inline-filter input[type="button"]').click(function(){
                window.location.href = "{% url admin:cadastro_circulo_change original.pk %}?"+$('.field-filter').serialize()+'#circulomembro_set-group';
            })
        });
    })(django.jQuery)
</script>
{% endblock %}