{% extends 'base.html' %}
{% load cms_tags bootstrap thumbnail %}

{% block title %}Acesso não autorizado - {% endblock %}
{% block ogtitle %}Acesso não autorizado - {% endblock %}

{% block description %}Acesso não autorizado{% endblock %}
{% block ogdescription %}Acesso não autorizado{% endblock %}

{% block main %}
<div class="row">
    <div class="article-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="content-main contact-content margin-b-30">
            <div class="contact-content-upper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="gallery_title">
                            <h3>Acesso não autorizado</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>O Usuário {{ request.user }} não tem acesso ao endereço <strong>“{{ request.build_absolute_uri }}”</strong>.</p>
                        <p>Verifique se a URL digitada está correta e tente novamente.</p>
                    </div>
                </div> <!-- .row -->
            </div>
        </div> <!-- .contact-content -->
    </div>
</div>
{% endblock %}