{% extends 'base.html' %}
{% load cms_tags bootstrap thumbnail %}

{% block title %}{{ article.title }} - {% endblock %}
{% block ogtitle %}{{ article.title }} - {% endblock %}

{% block description %}{{ article.content|striptags|truncatewords:20|safe }}{% endblock %}
{% block ogdescription %}{{ article.content|striptags|truncatewords:20|safe }}{% endblock %}

{% block ogimage %}{{ article.first_image }}{% endblock %}

{% block main %}

<div class="pi-section-w pi-section-white pi-slider-enabled piTooltips piSocials">
    <div class="pi-section pi-padding-bottom-10">
        <div class="pi-row">
            <div class="pi-col-sm-9 pi-padding-bottom-40">

                <h2 class="pi-weight-600">{{ article.title }}</h2>

                <ul class="pi-meta">
                    <li><i class="icon-clock"></i>{{ article.created_at|date:"d \d\e F \d\e Y" }}</li>
                </ul>

                {{ article.content|safe }}


                <hr class="pi-divider pi-divider-dashed pi-divider-big">

                <!-- Box -->
                <div class="pi-box pi-box-slave pi-box-small pi-border pi-round pi-margin-bottom-40">

                    <div class="pi-row">

                        <div class="pi-col-sm-4 pi-center-text-xs">
                            <h6 class="pi-uppercase pi-weight-700" style="margin-top: 2px;">
                                Compartilhe esse artigo:
                            </h6>
                        </div>

                        <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
                            <ul class="pi-social-icons pi-colored-bg pi-small pi-active-bg pi-jump pi-jump-bg pi-round pi-clearfix">
                                <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/home?status=https%3A//www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
                                <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&media=&description={{ article.title }}" class="pi-social-icon-pinterest"><i class="icon-pinterest"></i></a></li>
                                <li><a target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="pi-social-icon-gplus"><i class="icon-gplus"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ article.title }}&summary=&source=" class="pi-social-icon-linkedin"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>

                {% if article.allow_comments != 'N' %}
                <!-- Box -->
                <div class="pi-shadow-effect7 pi-margin-bottom-50">
                    <h3>Comentários</h3>

                    {% for comment in article.articlecomment_set.all %}
                        <div class="pi-box pi-border pi-round pi-border-top">
                            <h4 class="pi-weight-600">{{ comment.author }}</h4>
                            <small>{{ comment.created_at|date:"d \d\e F \d\e Y" }}</small>
                            <p>{{ comment.comment }}</p>
                            <div class="pi-clearfix"></div>
                        </div>
                    {% endfor %}

                    {% if article.allow_comments == 'A' %}
                        <form action="" method="POST">{% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% for field in form %}
                                        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                                            {% if field|btischeckbox %}
                                                {{ field|btform }}
                                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                            {% else %}
                                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                                {{ field|btform }}
                                            {% endif %}
                                            {% if field.errors %}
                                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                                <ul class="list-unstyled">
                                                {% for error in field.errors %}
                                                  <li class="text-error"><small>{{ error }}</small></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button style="float: right;" type="submit" class="btn btn-default btn-primary">Comentar</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <!-- End box -->
                {% endif %}
            </div>

            {% get_section_articles 'news' 3 as articles_news %}

            <div class="pi-col-sm-3 pi-padding-bottom-30">
                <h4 style="text-align: left; text-decoration: none; color: #9AC11E; font-weight: bold; padding-bottom: 15px;">&Uacute;ltimas not&iacute;cias</h4>

                {% for article in articles_news %}
                <!-- Post item -->
                {% if article.get_images %}
                <div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow" style="width: 100%;">
                    <a href="{{ article.get_absolute_url }}">
                        <img src="{{ article.first_image }}" alt="{{ article.title }}">
                        <span class="pi-img-overlay pi-img-overlay-white"></span>
                    </a>
                </div><br/>
                {% endif %}

                <h2 class="h5 pi-margin-top-minus-5 pi-margin-bottom-5">
                    <a href="{{ article.get_absolute_url }}" class="pi-link-dark">{{ article.title }}</a>
                </h2>
                <ul class="pi-meta pi-margin-bottom-10">
                    <li><i class="icon-clock"></i>{{ article.created_at|date:"d \d\e F \d\e Y" }}</li>
                </ul>
                <p>
                    {{ article.header|striptags|truncatewords:20|safe}}<a href="{{ article.get_absolute_url }}" class="pi-italic">Leia mais</a>
                </p>
                <!-- End post item -->
                {% if not forloop.last %}
                <br />
                <hr class="pi-divider pi-divider-dashed">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}