{% extends 'base.html' %}
{% load cms_tags bootstrap thumbnail %}

{% block title %}{{ article.title }} - {% endblock %}
{% block ogtitle %}{{ article.title }} - {% endblock %}

{% block description %}{{ article.content|striptags|truncatewords:20|safe }}{% endblock %}
{% block ogdescription %}{{ article.content|striptags|truncatewords:20|safe }}{% endblock %}

{% block ogimage %}{{ article.first_image }}{% endblock %}

{% block main %}

<div class="article-content col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-left: 0;">
    <div class="content-main contact-content margin-b-30">
        <div class="contact-content-upper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="gallery_title">
                        <h3>{{ article.title }}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {{ article.content|safe }}
                </div>
            </div> <!-- .row -->

            <div class="col-md-12">
                <div class="share-links">
                    <div class="fb-like" data-layout="button_count" data-share="true"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                </div>

                {% if article.allow_comments != 'N' %}
                    <h3>Comentários</h3>
                    {% for comment in article.articlecomment_set.all %}
                        <div class="bs-callout bs-callout-info">
                            <h4>{{ comment.author }}</h4>
                            <small>{{ comment.created_at|date:"d \d\e F \d\e Y" }}</small>
                            <p>{{ comment.comment }}</p>
                        </div>
                    {% endfor %}

                    {% if article.allow_comments == 'A' %}
                        <form action="" method="POST">{% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% for field in form %}
                                        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                                            {% if field|btischeckbox %}
                                                {{ field|btform }}
                                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                            {% else %}
                                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}</label>
                                                {{ field|btform }}
                                            {% endif %}
                                            {% if field.errors %}
                                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                                <ul class="list-unstyled">
                                                {% for error in field.errors %}
                                                  <li class="text-error"><small>{{ error }}</small></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button style="float: right;" type="submit" class="btn btn-default btn-primary">Comentar</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div> <!-- .contact-content -->
</div>

<div class="article-content col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right: 0;">
    {% get_section_articles 'news' 3 as articles_news %}
    <div class="row">
        {% for article in articles_news %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-b-30">
            <div class="box paris">
                {% if article.get_images %}
                <div class="box-icon">
                    <img src="{{ article.first_image }}" alt="Image" class="img-responsive">
                </div>
                {% endif %}
                <div class="info float-container">
                    <div class="col-sm-12 paris-title">
                        <h3 class="text-uppercase"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                        <h4 class="text-uppercase">{{ article.created_at|date:"d \d\e F \d\e Y" }}</h4>
                    </div>
                    <p>{{ article.header|striptags|safe}}</p><hr />
                    <div class="col-sm-12 location-main">
                        <div class="pull-left location location2">
                            <i class="fa fa-map-marker fa-2x"></i><span><a href="{{ article.get_absolute_url }}">Leia mais</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}