
<!DOCTYPE html>
<html lang="en">
  {% load url from future %}
  {% load menu_tags cms_tags compress static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% get_article 'header' as header %}
    <title>{% block title %}{% endblock %}{{ header.title }}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}site/imgs/favicon.ico">
    <meta property="og:title" content="{% spaceless %}{% block ogtitle %}{% endblock %}{{ header.title }}{% endspaceless %}">
    <meta property="og:description" content="{% spaceless %}{% block ogdescription %}{% endblock %}{% endspaceless %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% spaceless %}{% block allogimage %}http://{{ request.get_host }}{% block ogimage %}{% endblock %}{% endblock %}{% endspaceless %}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="{{ header.title }}">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'site/css/styles.css' %}?v1" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid body">
      <div class="row">
        <div class="col-md-3">
          <div class="logo panel panel-default">
            {{ header.header|safe }}
          </div>
          <div class="list-group">
            {% show_menu 'Menu Lateral' template='includes/menu_lateral.html' %}
          </div>
          <br>
          {% get_section_articles 'principios' as articles_principios %}
          {% if articles_principios %}
          <div class="list-group">
            <h3 class="title-news">PRINCÍPIOS DA <b>RAiZ</b></h3>
            {% for article in articles_principios %}
            <a href="{{ article.get_absolute_url }}" class="list-group-item">{{ article.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
          <br>
          {% get_section_articles 'redes-sociais' as articles_redes_sociais %}
          {% if articles_redes_sociais %}
          <div class="list-group">
            <h3 class="title-news">REDES SOCIAIS</h3>
            {% for article in articles_redes_sociais %}
            {{ article.header|safe }}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="col-md-9">
          <!-- MENU -->
          <div class="navbar-wrapper">
            <nav class="navbar navbar-default">
              <div class="container-fluid navbar-search">
                <form class="navbar-form navbar-left" action="{% url 'search' %}" method="GET">
                  <div class="input-group">
                    <input type="text" placeholder="Pesquisar" name="q" class="form-control">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                  </div>
                </form>
                <form class="navbar-form navbar-left">
                  <div class="form-group" action="{% url 'admin:index' %}" method="POST">{% csrf_token %}
                    <input type="text" placeholder="Login" name="username" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Senha" name="" class="form-control">
                  </div>
                  <button type="submit" class="btn">Entrar</button>
                </form>

              </div>

              <div class="container-fluid">
                {% block menu %}
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    {% show_menu 'Menu Topo' %}
                  </ul>
                </div>
                {% endblock %}
              </div>
            </nav>
          </div>
          <!-- END MENU -->

          {% block messages %}
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{% firstof message.tags 'info' %} {% if message.tags == 'error' %}alert-danger{% endif %}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endblock messages %}

          <div class="main">
          {% block main %}
          {% endblock %}
          </div>
        </div>
      </div>

      <hr>
      <!-- FOOTER -->
      <footer>
        {% get_article 'footer' as footer %}
        {{ footer.header|safe }}
      </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>