<!doctype html>
<html lang="en">
  {% load url from future %}
  {% load menu_tags cms_tags compress static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% get_article 'header' as header %}
    <title>{% block title %}{% endblock %}{{ header.title }}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}site/imgs/favicon.ico">
    <meta property="og:title" content="{% spaceless %}{% block ogtitle %}{% endblock %}{{ header.title }}{% endspaceless %}">
    <meta property="og:description" content="{% spaceless %}{% block ogdescription %}{% endblock %}{% endspaceless %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% spaceless %}{% block allogimage %}http://{{ request.get_host }}{% block ogimage %}{% endblock %}{% endblock %}{% endspaceless %}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="{{ header.title }}">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'site/css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/styles.css' %}">
    {% block css %}{% endblock %}

    {% block cssnocompress %}{% endblock %}
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__header-row">
          {{ header.header|safe }}
        </div>
        <div class="mdl-layout--large-screen-only mdl-tabs mdl-color--primary-dark">
          {% block menu %}
          {% show_menu %}
          {% endblock %}

          <div class="raiz-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <form action="{% url 'search' %}" method="GET">
                <input class="mdl-textfield__input" type="text" name="q" id="search-field" />
              </form>
            </div>
          </div>

        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ header.header|safe }}</span>
        <nav class="mdl-navigation">
          {% block menu_mobile %}
          {% show_menu %}
          {% endblock %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="is-active mdl-grid">
          {% block messages %}
            {% if messages %}
            <section class="content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
              {% for message in messages %}
                <div class="alert alert-{% firstof message.tags 'info' %} {% if message.tags == 'error' %}alert-danger{% endif %}">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            </section>
          {% endblock messages %}

          {% block main %}
          <section class="mdl-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            {% block main_content %}
              <div class="demo-crumbs mdl-color-text--grey-500">
                demo &gt; crumbs
              </div>
              <h3>demo teste</h3>
              demo content
            {% endblock %}
          </section>
          <section class="mdl-card mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
            {% block main_right %}
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Notícias</h4>
                {% get_section_articles 'news' as last_articles %}
                {% for article in last_articles %}
                  <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>{{ article.title }}</h5>
                    {{ article.header|striptags|truncatewords:20|safe }}<a href="{{ article.get_absolute_url }}">Leia mais</a>.
                  </div>
                {% endfor %}
              </div>
              <div class="mdl-card__actions">
                <a href="{% url 'section' 'news' %}" class="mdl-button">Outras notícias</a>
              </div>
            </div>
            {% endblock %}
          </section>
          {% endblock %}
        </div>
        <footer class="mdl-mega-footer">
          {% block menu_footer %}
          {% get_sections as sections %}
          <div class="mdl-mega-footer--middle-section">
            {% for section in sections %}
            {% if section.slug != 'news' %}
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">{{ section.title }}</h1>
              <ul class="mdl-mega-footer--link-list">
                {% for article in section.get_articles %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                {% empty %}
                <li><a>--</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endblock %}
          <div class="mdl-mega-footer--bottom-section">
            {% get_article 'footer' as footer %}
            {{ footer.header|safe }}
          </div>
        </footer>
      </main>
    </div>
    <script src="{% static 'site/js/material.min.js' %}"></script>
    {% compress js %}
    {% block js %}{% endblock %}
    {% endcompress %}
    {% block jsnocompress %}{% endblock %}
  </body>
</html>