<!DOCTYPE html>
<html>
<head>
    {% load url from future %}
    {% load menu_tags cms_tags compress static thumbnail %}
    {% load l10n %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% get_article 'header' as header %}
    <title>{% block title %}{% endblock %}{{ header.title }}</title>

    <meta name="detectify-verification" content="4eb6d3f798d0568fba0b67c6b3b7d2ef" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'site/icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'site/icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'site/icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'site/icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'site/icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'site/icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'site/icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'site/icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'site/icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'site/icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'site/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'site/icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'site/icon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" href="{% static 'site/icon/favicon.ico' %}">
    <meta property="og:title" content="{% spaceless %}{% block ogtitle %}{% endblock %}{{ header.title }}{% endspaceless %}">
    <meta property="og:description" content="{% spaceless %}{% block ogdescription %}{% endblock %}{% endspaceless %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% spaceless %}{% block allogimage %}http://{{ request.get_host }}{% block ogimage %}{% endblock %}{% endblock %}{% endspaceless %}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="{{ header.title }}">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="958330187571692">

    <link rel="stylesheet" type="text/css" href="{% static 'novosite/3dParty/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/global.css' %}?v=0.5"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/typo.css' %}?v=0.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/3dParty/colorbox/colorbox.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/portfolio.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/tooltips.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/testimonials.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/slider.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/3dParty/rs-plugin/css/pi.settings.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/counters.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'novosite/css/social.css' %}"/>

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'/>
    <!--Fonts with Icons-->
    <link rel="stylesheet" href="{% static 'novosite/3dParty/fontello/css/fontello.css' %}"/>

</head>
<body>

<div id="pi-all">
    <!-- Header -->
    <div class="pi-header">
        <!-- Header row -->
        <div class="pi-section-w pi-section-dark">
            <div class="pi-section pi-row-sm">
                <!-- Email -->
                <div class="pi-row-block pi-row-block-txt pi-hidden-xs">
                    <i class="pi-row-block-icon icon-mail pi-icon-base pi-icon-square"></i>Email: <a href="{% url 'contato' %}">correio@raiz.org.br</a>
                    | <a href="{% url 'forum' %}">Teia Digital</a>
                    | <a href="{% url 'admin:index' %}">Sistema Integrado</a>
                </div>
                <!-- End email -->

                <div class="pi-col-sm-7">
                    <!-- Social icons -->
                    <div class="pi-row-block pi-pull-right pi-hidden-2xs">
                        <ul class="pi-social-icons pi-stacked pi-jump pi-full-height pi-bordered pi-small pi-colored-bg clearFix">
                            {% get_section_articles 'redes-sociais' as social_articles %}
                            {% for article in social_articles %}
                                <li>{{ article.header|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End social icons -->
                    <!-- Text -->
                    <div class="pi-row-block pi-row-block-txt pi-pull-right pi-hidden-xs">Redes Sociais:</div>
                    <!-- End text -->
                    <div class="pi-col-sm-2 pi-row-block pi-hidden-xs">
                        <form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form" action="{% url 'search' %}">
                            <div class="pi-input-with-icon">
                                <div class="pi-input-icon"><i class="icon-search-1"></i></div>
                                <input type="text" name="q" class="form-control pi-input-wide" placeholder="Pesquisar">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- End header row -->

        <div class="pi-header-sticky">
            <!-- Header row -->
            <div class="pi-section-w pi-section-white pi-shadow-bottom pi-row-reducible">
                <div class="pi-section pi-row-lg">

                    <!-- Logo -->
                    <div class="pi-row-block pi-row-block-logo">
                        <a href="/"><img src="{% static 'novosite/img/logo-base.png' %}" alt=""></a>
                    </div>
                    <!-- End logo -->


                    <!-- Text -->
                    <div class="pi-row-block pi-row-block-txt pi-hidden-2xs">&nbsp; </div>
                    <!-- End text -->

                    <!-- Menu -->
                    <div class="pi-row-block pi-pull-right">
                        <ul class="pi-simple-menu pi-has-hover-border pi-full-height pi-hidden-sm">
                            {% show_menu 'Menu Topo' %}
                            {% if user.is_authenticated %}
                            <li class="pi-has-dropdown">
                                <a href="#"><span>Bem vindo, {% firstof user.first_name user.username %}.</span></a>
                                <ul class="pi-submenu pi-has-border pi-items-have-borders pi-has-shadow pi-submenu-dark">
                                    <li class=""><a href="{% url 'meu_perfil' %}"><span>Meu Perfil</span></a></li>
                                    <li class=""><a href="{% url 'cms_logout' %}"><span>Sair</span></a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- End menu -->


                    <!-- Mobile menu button -->
                    <div class="pi-row-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only">
                        <button class="btn pi-btn pi-mobile-menu-toggler" data-target="#pi-main-mobile-menu">
                            <i class="icon-menu pi-text-center"></i>
                        </button>
                    </div>
                    <!-- End mobile menu button -->

                    <!-- Mobile menu -->
                    <div id="pi-main-mobile-menu" class="pi-section-menu-mobile-w pi-section-dark">
                        <div class="pi-section-menu-mobile">

                            <!-- Search form -->
                            <form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form" action="{% url 'search' %}">
                                <a href="{% url 'forum' %}">Teia Digital</a> | <a href="{% url 'admin:index' %}">Sistema Integrado</a>
                                <div class="pi-input-with-icon">
                                    <div class="pi-input-icon"><i class="icon-search-1"></i></div>
                                    <input type="text" name="q" class="form-control pi-input-wide" placeholder="Pesquisar">
                                </div>
                            </form>
                            <!-- End search form -->
                            <ul class="pi-menu-mobile pi-items-have-borders pi-menu-mobile-dark">
                                {% show_menu 'Menu Topo' %}
                            </ul>

                        </div>
                    </div>
                    <!-- End mobile menu -->

                </div>
            </div>
            <!-- End header row -->
        </div>

    </div>
    <!-- End header -->

    <div id="page">

        {% block messages %}
            {% if messages %}
            <div class="pi-section-w pi-section-white">
                <div class="pi-section">
                    <div class="pi-row">
                        <div class="pi-col-sm-12">
                            {% for message in messages %}
                            <div class="alert alert-{% firstof message.tags 'info' %} {% if message.tags == 'error' %}alert-danger{% endif %}">
                                {{ message|safe }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
        {% get_section_articles 'principios' as articles_principios %}
        {% if articles_principios %}
        <!-- - - - - - - - - - SECTION - - - - - - - - - -->
        <div class="pi-section-w pi-section-dark">
            <div class="pi-section pi-padding-bottom-20">
                <!-- Row -->
                <div class="pi-row pi-grid-big-margins">
                    <div class="pi-col-sm-12 pi-padding-bottom-40">
                        <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">
                            Princípios da RAiZ
                        </h4>
                    </div>
                    {% for article in articles_principios %}
                    <!-- Col 4 -->
                    <div class="pi-col-xs-3 pi-padding-bottom-40">
                        <div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">
                            <div class="pi-margin-bottom-10" style="height: 150px; overflow: hidden;">
                                <img src="{{ article.first_image }}" style="width: 100%;" alt="">
                            </div>
                            <h5 class="pi-weight-700 pi-uppercase pi-letter-spacing"><a href="{{ article.get_absolute_url }}" class="pi-link-dark">{{ article.title }}</a></h5>
                            <p class="pi-margin-bottom-10">
                                {{ article.header|safe }}
                            </p>
                            <p>
                                <a href="{{ article.get_absolute_url }}">Leia mais<i class="icon-right-open-mini pi-icon-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- End col 4 -->
                    {% endfor %}
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
        {% endif %}

        <!-- - - - - - - - - - SECTION - - - - - - - - -
        <div class="pi-section-w pi-shadow-inside-top pi-section-grey">
            <div class="pi-texture" style="background: url({% static 'novosite/img/wave.png' %}) repeat;"></div>
            <div class="pi-section">
                <div class="pi-text-center">
                    <h3 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-border pi-has-tall-border pi-has-short-border">
                        Receba nossos informativos
                    </h3>
                </div>
                <p class="lead-16 pi-text-center">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                </p>
                <form class="pi-search-form-wide pi-subscribe-form pi-text-center pi-margin-bottom-20" role="form" action="{% url 'newsletter' %}" method="POST">{% csrf_token %}
                    <div class="pi-error-container"></div>
                    <div class="pi-input-inline" style="margin-right: 10px; width: 360px;">
                        <input type="text" class="form-control form-control-email input-lg pi-input-wide" id="exampleInputSubscribe" name="email" placeholder="Enter email address">
                    </div>
                    <button type="submit" class="btn pi-btn-base pi-btn-big">Enviar</button>
                </form>
                <p class="pi-smaller-text pi-text-center">
                    Nós não enviamos spam.
                </p>

            </div>
        </div>
        <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <!-- Widget area -->
    <div class="pi-section-w pi-border-bottom pi-border-top-light pi-section-dark">
        <div class="pi-section pi-padding-bottom-10">
            <!-- Row -->
            <div class="pi-row">
                <!-- Col 4 -->
                <div class="pi-col-md-12 pi-col-sm-6 pi-padding-bottom-30">
                    <!-- Tags -->
                    <div>
                        {% get_cloudtags as tags %}
                        {% if tags %}
                        {% for tag, num in tags %}
                            <a href="{% url 'search' %}?q={{ tag }}" style="font-size: {{ num|unlocalize }}em">{{ tag }}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <!-- End tags -->
                </div>
                <!-- End col 4 -->
            </div>
            <!-- End row -->
        </div>
    </div>
    <!-- End widget area -->
    <!-- Widget area -->
    <div class="pi-section-w pi-border-bottom pi-border-top-light pi-section-dark">
        <div class="pi-section pi-padding-bottom-10">
            <!-- Row -->
            <div class="pi-row">
                <!-- Col 4 -->
                <div class="pi-col-md-12 pi-col-sm-6 pi-padding-bottom-30">
                    <h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
                        Entre em contato
                    </h6>
                    <!-- Contact form -->
                    <form role="form" action="{% url 'contato' %}" class="pi-contact-form" method="POST">{% csrf_token %}
                        <div class="pi-error-container"></div>
                        <div class="pi-row pi-grid-small-margins">
                            <div class="pi-col-2xs-6">
                                <div class="form-group">
                                    <div class="pi-input-with-icon">
                                        <div class="pi-input-icon"><i class="icon-user"></i></div>
                                        <input class="form-control form-control-name" id="exampleInputName" name="nome" placeholder="Nome">
                                    </div>
                                </div>
                            </div>
                            <div class="pi-col-2xs-6">
                                <div class="form-group">
                                    <div class="pi-input-with-icon">
                                        <div class="pi-input-icon"><i class="icon-mail"></i></div>
                                        <input type="email" class="form-control form-control-email" id="exampleInputEmail" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pi-input-with-icon">
                                <div class="pi-input-icon"><i class="icon-pencil"></i></div>
                                <textarea class="form-control form-control-comments" id="exampleInputMessage" placeholder="Mensagem" name="mensagem" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.captcha }}
                        </div>
                        <p>
                            <button type="submit" class="btn pi-btn-base pi-btn-no-border">Enviar</button>
                        </p>
                    </form>
                    <!-- End contact form -->
                </div>
                <!-- End col 4 -->
            </div>
            <!-- End row -->
        </div>
    </div>
    <!-- End widget area -->

    <!-- Copyright area -->
    <div class="pi-section-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base">
        <div class="pi-section pi-row-lg pi-center-text-2xs pi-clearfix">
            <!-- Social icons -->
            <div class="pi-row-block pi-pull-right pi-hidden-2xs">
                <ul class="pi-social-icons-simple pi-small clearFix">
                    <li><a href="http://twitter.com/RaizCidadanista" target="_blank" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
                    <li><a href="http://facebook.com/RaizMovimentoCidadanista" target="_blank" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
                    <li><a href="http://telegram.me/raizcidadanista" target="_blank" class="pi-social-icon-paper-plane"><i class="icon-paper-plane"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCorm0TAWhF0gd8avH22u1XQ" target="_blank" class="pi-social-icon-youtube"><i class="icon-youtube"></i></a></li>
                    <li><a href="http://www.flickr.com/search/?text=raiz%20movimento%20cidadanista" class="pi-social-icon-flickr"><i class="icon-flickr"></i></a></li>
                </ul>
            </div>
            <!-- End social icons -->
            <!-- Footer logo -->
            <div class="pi-row-block pi-row-block-logo pi-row-block-bordered"><a href="#"><img src="{% static 'novosite/img/logo-opacity-dark.png' %}" alt=""></a></div>
            <!-- End footer logo -->
            <!-- Text -->
            <span class="pi-row-block pi-row-block-txt pi-hidden-xs">&copy; {% now "Y" %}. &laquo;<a href="/">Raiz Cidadanista</a>&raquo;.
            </span>
            <!-- End text -->
        </div>
    </div>
    <!-- End copyright area -->
    <!-- End footer -->

</div>

<div class="pi-scroll-top-arrow" data-scroll-to="0"></div>

<script src="{% static 'novosite/3dParty/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/jquery.touchSwipe.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/gauge.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/inview.js' %}"></script>
<script src="{% static 'novosite/3dParty/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/requestAnimationFramePolyfill.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/jquery.placeholder.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.tooltip.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.init.tooltip.js' %}"></script>
<script src="{% static 'novosite/3dParty/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'novosite/3dParty/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.init.revolutionSlider.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.global.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.slider.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.init.slider.js' %}"></script>
<script src="{% static 'novosite/3dParty/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.counter.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.init.counter.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.parallax.js' %}"></script>
<script src="{% static 'novosite/scripts/pi.init.parallax.js' %}"></script>
{% block js %}{% endblock %}

<!-- Social scripts -->
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '958330187571692',
    xfbml      : true,
    version    : 'v2.4'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/pt_BR/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66401597-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
