<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title></title>
    <style type="text/css" media="screen">
        #box-cidades{width: 275px; padding: 10px 0; display: none;}
    </style>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/static/site/css/styles.css" rel="stylesheet">
</head>
<body>
    <label>
        Selecione o seu estado:<br>
        <select id="select-uf-circulo">
            <option cidades="">---</option>
            {% for uf, cidades in circulos %}
            <option cidades="{{ cidades }}">{{ uf }}</option>
            {% endfor %}
        </select>
    </label>
    <br>
    <div id="box-cidades">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $('#select-uf-circulo').change(function(event) {
            $('#box-cidades').show();
            $('#box-cidades').html($(this).find('option:selected').attr('cidades'));
        });
    </script>
</body>
</html>