{% extends 'base.html' %}
{% load bootstrap static %}

{% block title %}Contato - {% endblock %}
{% block ogtitle %}Contato - {% endblock %}

{% block description %}Contato - {% endblock %}
{% block ogdescription %}Contato - {% endblock %}

{% block main %}
    <div class="col-article">
        <h3>Contato</h3>
        <p>Envie aqui a sua mensagem para nós</p>
        <form action="" method="POST" role="form">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %} group-{{ field.name }}">
                            {% if field|btischeckbox %}
                                {{ field|btform }}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                            {% else %}
                                <label class="control-label label-{{ field.name }}" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                {{ field|btform }}
                            {% endif %}
                            {% if field.errors %}
                            <ul class="list-unstyled">
                            {% for error in field.errors %}
                              <li class="text-error"><small>{{ error }}</small></li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block css %}
<style type="text/css">
    .has-error .form-control-feedback {
        margin-top: -6px;
    }
    #id_nome, #id_email {max-width: 500px;}

    @media (max-width: 992px){
        .col-left {display: none; }
    }
</style>
{% endblock %}