<html>
  <head>{% load l10n static %}
    <meta charset="UTF-8">
    <title>Meta {{ object }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'site/css/styles.css' %}?v1.11" rel="stylesheet">
    <style type="text/css">
      #donutchart {
        max-width: 500px;
        min-height: 500px;
      }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      {% localize off %}
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Meta', 'Valor'],
          ['Falta para atingir a meta', {{ object.falta }}],
          ['Acumulado', {{ object.acumulado }}],
        ]);

        var options = {
          title: '{{ object }}',
          legend: 'none',
          pieHole: 0.5,
          colors: ['#f0f0f0', '#94C11E', ]
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
      {% endlocalize %}
    </script>
  </head>
  <body>
    <center>
      <div id="donutchart">ok</div>
      <p>Apenas {{ object.filiados_doaram|floatformat:"2" }}% dos colaboradores e pré-filiados contribuíram. Você já fez a sua contribuição?</p>

      <a href="{% url meta_depositos object.pk %}" class="btn btn-success">Verifique se o seu depósito já foi identificado</a>
    </center>
  </body>
</html>