{% extends 'base.html' %}
{% load cms_tags %}

{% block title %}Pesquisando por "{{ q }}"... / {% endblock %}
{% block ogtitle %}Pesquisando por "{{ q }}"... / {% endblock %}

{% block description %}Pesquisando por "{{ q }}"... / {% endblock %}
{% block ogdescription %}Pesquisando por "{{ q }}"... / {% endblock %}

{% block keywords %}
    {{ q }}
{% endblock %}


{% block main %}
<section class="mdl-card mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Pesquisando por "{{ q }}"</h4>
        {% for result in results %}
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>{{ result.object.title }}</h5>
            {{ result.object.header|safe }}<a href="{{ result.object.get_absolute_url }}">Leia mais</a>.
          </div>
        {% endfor %}
      </div>

      {% if results.has_previous or results.has_next %}      
      <div class="mdl-card__actions" style="text-align: center">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}&q={{ q }}" class="mdl-button">Antes</a>
        {% endif %}
        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}&q={{ q }}"class="mdl-button">mais notícias</a>
        {% endif %}
      </div>
    {% endif %}
    </div>
</section>
{% endblock %}