{% extends 'base.html' %}
{% load cms_tags l10n %}

{% block title %}Pesquisando por "{{ q }}"... / {% endblock %}
{% block ogtitle %}Pesquisando por "{{ q }}"... / {% endblock %}

{% block description %}Pesquisando por "{{ q }}"... / {% endblock %}
{% block ogdescription %}Pesquisando por "{{ q }}"... / {% endblock %}

{% block keywords %}
    {{ q }}
{% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                    <a href="" class="pi-link-dark">Pesquisando por "{{ q }}"</a>
                </h4>

                <div class="row">
                    <div class="pi-col-sm-8 pi-padding-bottom-30">
                        {% for result in results %}
                        <article class="pi-divider-dashed" style="min-height: 155px; padding: 15px; border: 1px #d6dfdf solid; margin-bottom: 20px; border-radius: 5px;">
                            <!-- Post item -->
                            {% if result.object.get_images %}
                            <div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow">
                                <a href="{{ result.object.get_absolute_url }}">
                                    <img src="{{ result.object.first_image }}" alt="{{ result.object.title }}" style="width: auto; max-height: 120px">
                                    <span class="pi-img-overlay pi-img-overlay-white"></span>
                                </a>
                            </div>
                            {% endif %}

                            <h2 class="h5 pi-margin-top-minus-5 pi-margin-bottom-5">
                                <a href="{{ result.object.get_absolute_url }}" class="pi-link-dark">{{ result.object.title }}</a>
                            </h2>
                            <ul class="pi-meta pi-margin-bottom-10">
                                <li><i class="icon-clock"></i>{{ result.object.created_at|date:"d \d\e F \d\e Y" }}</li>
                            </ul>
                            <!-- End post item -->
                            {% if not forloop.last %}
                            <br />
                            <hr class="pi-divider pi-divider-dashed">
                            {% endif %}
                        </article>
                        {% endfor %}
                    </div>
                    <!-- End col 8 -->
                    <!-- Col 4 -->
                    <div class="pi-col-sm-4 pi-padding-bottom-30">
                        <h2>Núvem de tags</h2>
                        {% get_cloudtags as tags %}
                        {% if tags %}
                        <div class="main-menu menu-cloudtags">
                            <div class="box bottom-main block-width-full">
                                {% for tag, num in tags %}
                                    <a href="{% url search %}?q={{ tag }}" style="font-size: {{ num|unlocalize }}em">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- End col 6 -->
                    {% if results.has_previous or results.has_next %}
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% if results.has_previous %}
                                <a href="?page={{ results.previous_page_number }}">&laquo;</a>
                            {% endif %}

                            <a href="">{{ results.number }} de {{ results.paginator.num_pages }}<span class="sr-only"></span></a>

                            {% if results.has_next %}
                                <a href="?page={{ results.next_page_number }}">&raquo;</a>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div> <!-- row -->
            </div>
        </div>
    </div>
</div>
{% endblock %}