{% extends 'base.html' %}
{% load cms_tags %}

{% block title %}{{ section.title }} / {% endblock %}
{% block ogtitle %}{{ section.title }} / {% endblock %}

{% block description %}{{ section.title }} / {% endblock %}
{% block ogdescription %}{{ section.title }} / {% endblock %}

{% block keywords %}
    {{ section.keywords }}
{% endblock %}

{% block main %}
<section class="mdl-card mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">{{ section.title }}</h4>
        {% for article in articles %}
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>{{ article.title }}</h5>
            {{ article.header|safe }}<a href="{{ article.get_absolute_url }}">Leia mais</a>.
          </div>
        {% endfor %}
      </div>

      {% if articles.has_previous or articles.has_next %}        
      <div class="mdl-card__actions" style="text-align: center">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}" class="mdl-button">Antes</a>
        {% endif %}
        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}"class="mdl-button">mais notícias</a>
        {% endif %}
      </div>
    {% endif %}
    </div>
</section>
{% endblock %}