{% extends 'base.html' %}
{% load cms_tags %}

{% block title %}{{ section.title }} / {% endblock %}
{% block ogtitle %}{{ section.title }} / {% endblock %}

{% block description %}{{ section.title }} / {% endblock %}
{% block ogdescription %}{{ section.title }} / {% endblock %}

{% block keywords %}
    {{ section.keywords }}
{% endblock %}

{% block main %}
<div class="pi-section-w pi-section-white pi-border-top">
    <div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-sm-12">
                <div class="pi-col-sm-12">
                    <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
                        <a href="{{ section.get_absolute_url }}" class="pi-link-dark">{{ section.title }}</a>
                    </h4>
                    {{ section.header|safe }}
                </div>
                <div class="row">
                    <div class="pi-col-sm-8 pi-padding-bottom-30">
                        {% for article in articles %}
                        <article style="min-height: 200px;{% if forloop.counter|divisibleby:"2" %} background: #f0f0f0; padding: 15px;{% endif %}">
                            <!-- Post item -->
                            {% if article.get_images %}
                            <div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow" style="width: 170px;">
                                <a href="{{ article.get_absolute_url }}">
                                    <img src="{{ article.first_image }}" alt="{{ article.title }}">
                                    <span class="pi-img-overlay pi-img-overlay-white"></span>
                                </a>
                            </div>
                            {% endif %}

                            <h2 class="h5 pi-margin-top-minus-5 pi-margin-bottom-5">
                                <a href="{{ article.get_absolute_url }}" class="pi-link-dark">{{ article.title }}</a>
                            </h2>
                            <ul class="pi-meta pi-margin-bottom-10">
                                <li><i class="icon-clock"></i>{{ article.created_at|date:"d \d\e F \d\e Y" }}</li>
                            </ul>
                            <p>
                                {{ article.header|striptags|truncatewords:20|safe}}
                            </p>
                            <!-- End post item -->
                        </article>
                        {% if not forloop.last %}
                        <br />
                        <hr class="pi-divider pi-divider-dashed">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End col 6 -->
                    <!-- Col 4 -->
                    <div class="pi-col-sm-4 pi-padding-bottom-30">
                        <h2>Últimas notícias</h2>
                        {% get_last_articles 5 as last_articles %}
                        {% for article in last_articles %}
                        <!-- Post item -->
                        {% if article.get_images %}
                        <div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow" style="width: 170px;">
                            <a href="{{ article.get_absolute_url }}">
                                <img src="{{ article.first_image }}" alt="{{ article.title }}">
                                <span class="pi-img-overlay pi-img-overlay-white"></span>
                            </a>
                        </div>
                        {% endif %}

                        <h2 class="h5 pi-margin-top-minus-5 pi-margin-bottom-5">
                            <a href="{{ article.get_absolute_url }}" class="pi-link-dark">{{ article.title }}</a>
                        </h2>
                        <ul class="pi-meta pi-margin-bottom-10">
                            <li><i class="icon-clock"></i>{{ article.created_at|date:"d \d\e F \d\e Y" }}</li>
                        </ul>
                        <p>
                            {{ article.header|striptags|truncatewords:20|safe}}
                        </p>
                        <!-- End post item -->
                        {% if not forloop.last %}
                        <br />
                        <hr class="pi-divider pi-divider-dashed">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End col 4 -->

                    {% if articles.has_previous or articles.has_next %}
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% if articles.has_previous %}
                                <a href="?page={{ articles.previous_page_number }}">&laquo;</a>
                            {% endif %}

                            <a href="">{{ articles.number }} de {{ articles.paginator.num_pages }}<span class="sr-only"></span></a>

                            {% if articles.has_next %}
                                <a href="?page={{ articles.next_page_number }}">&raquo;</a>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div> <!-- row -->
            </div>
        </div>
    </div>
</div>
{% endblock %}