<!DOCTYPE html>
<html>
<head>
    {% load static l10n %}
    <title>Planejamento Orcamentário {{ ano }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <h2>Planejamento Orcamentário {{ ano }}</h2>
        <div class="row">
            <div class="col-md-12">
            <form id="form-ano" class="form-inline">
                <div class="form-group">
                    <input type="text" name="ano" class="form-control" placeholder="Ano" value="{{ ano }}">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>

                <table class="table table-striped">
                    <thead>
                        <th>Reals</th>
                        {% for periodo in periodos %}
                        <th class="text-right">{{ periodo }}</th>
                        {% endfor %}
                        <th class="text-right">{{ ano }}</th>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.tipo_despesa }}</td>
                            {% for val in result.periodos %}
                            <td class="text-right">R$ {{ val }}</td>
                            {% endfor %}
                            <td class="text-right">R$ {{ result.total }}</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="13"><b>Saldo</b></td>
                            <td class="text-right"><b>R$ {{ result.saldo }}</b></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-right" colspan="13"><b>Total geral</b></td>
                            <td class="text-right"><b>R$ {{ total }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'site/js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript">
        var base_url = "{% url financeiro_planejamento_orcamentario '' %}"
        $('#form-ano').submit(function(event) {
            var ano = $(this).find('input[name="ano"]').val();
            window.location.href = base_url+ano;
            return false;
        });
    </script>
</body>
</html>