<!DOCTYPE html>
<html>
<head>
    {% load static l10n %}
    <title>Planejamento Orcamentário {{ ano }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <h2>Planejamento Orcamentário {{ ano }}</h2>
        <div class="row">
            <div class="col-md-12">
            <form id="form-ano" class="form-inline">
                <div class="form-group">
                    <input type="text" name="ano" class="form-control" placeholder="Ano" value="{{ ano }}">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>

                <table class="table table-striped">
                    <thead>
                        <th>Orçamento x Realizado</th>
                        {% for periodo in periodos %}
                        <th class="text-right">{{ periodo }}</th>
                        {% endfor %}
                        <th class="text-right">{{ ano }}</th>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.tipo_despesa }}</td>
                            {% for periodo, data in result.periodos %}
                            <td class="text-right">{% if data.valor %}R$ {{ data.valor }}{% else %} - {% endif %}</td>
                            {% endfor %}
                            <td class="text-right">{% if result.total %}R$ {{ result.total }}{% else %} - {% endif %}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><b>Saldo</b></td>
                            {% for periodo, data in result.periodos %}
                            <td class="text-right"><b data-toggle="tooltip" data-placement="top" title="Pagamentos: R$ {{ data.pagamento }}">
                                {% if request.user.is_authenticated and request.user.is_staff %}
                                    <a href="{% url admin:financeiro_pagamento_changelist %}?tipo_despesa__id__exact={{ result.tipo_despesa.pk }}&dt__gte={{ data.dt_inicio|date:"d/m/Y" }}&dt__lte={{ data.dt_fim|date:"d/m/Y" }}">
                                        {% if data.saldo %}R$ {{ data.saldo }}{% else %} - {% endif %}
                                    </a>
                                {% else %}
                                    {% if data.saldo %}R$ {{ data.saldo }}{% else %} - {% endif %}
                                {% endif %}
                            </b></td>
                            {% endfor %}
                            <td class="text-right"><b>{% if result.total_saldos %}R$ {{ result.total_saldos }}{% else %} - {% endif %}</b></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><b>Total geral</b></td>
                            {% for mes, val in totais %}
                            <td class="text-right"><b>{% if val %}R$ {{ val }}{% else %} - {% endif %}</b></td>
                            {% endfor %}
                            <td class="text-right"><b>{% if total %}R$ {{ total }}{% else %} - {% endif %}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'site/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-tooltip.js' %}"></script>
    <script type="text/javascript">
        var base_url = "{% url financeiro_planejamento_orcamentario '' %}"
        $('#form-ano').submit(function(event) {
            var ano = $(this).find('input[name="ano"]').val();
            window.location.href = base_url+ano;
            return false;
        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>