{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static 'core/js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    function identificador_mash(){
        if($('#id_tipo input[name=tipo]:checked').val() == 'PF'){
            $("#id_identificador").unmask().mask("999.999.999-99");
        }else{
            $("#id_identificador").unmask().mask("99.999.999/9999-99");
        }
    }

    identificador_mash();
    $('#id_tipo input[name=tipo]').change(function(){
        identificador_mash();
    })
});
</script>
{% endblock %}

