{% extends "admin/change_list_multi_search.html" %}
{% load i18n admin_modify adminmedia custom_admin_list %}
{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(function() {
                $(".module").removeClass("filtered");
                $("form[name='filters'] select").change(function() {
                    window.location.href = $(this).val();
                });
            });
        })(django.jQuery)
    </script>

    {% if cl.date_hierarchy %}
        <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
        <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
        <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/ie.css" />
        <![endif]-->
        <style type="text/css">
            #calendarlink0, #calendarlink1{ vertical-align: sub; }
        </style>

        <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
        <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
        <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
        <script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
        <script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
    {% endif %}
{% endblock %}

{% block date_hierarchy %}
{% if cl.date_hierarchy %}
    <div id="toolbar" class="power-toolbar">
        <form id="date_hierarchy-form" action="" method="GET">
            <label class="field-box">
                <label for="id_dt_inicial">Data inicial</label>:
            <input id="id_dt_inicial" type="text" class="vDateField" name="dt__gte" size="10" {% if request.GET.dt__gte %}value="{{ request.GET.dt__gte }}"{% endif %} />
            </label>
            <label class="field-box">
                <label for="id_dt_final">Data final</label>:
            <input id="id_dt_final" type="text" class="vDateField" name="dt__lte" size="10" {% if request.GET.dt__lte %}value="{{ request.GET.dt__lte }}"{% endif %} />
            </label>
            <input type="submit" value="Ok" />
            <br class="clear" />
        </form>
    </div>
{% endif %}
{% endblock %}