/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

a {
  color: #2f7a35;
}
a:focus, a:hover, .pagination>li>a, .pagination>li>span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #2f7a35;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #2f7a35;
  border-color: #2f7a35
}

.bs-callout-info {
    border-color: #2f7a35;
}
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid #2f7a35;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-search {
  margin: 31px 0px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #94C11E;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-default .navbar-nav>li>a {
  color: #2f7a35;
  font-weight: bold;
}

.logo {
  background-color: #94C11E;
  text-align: center;
}

.list-group a {
  color: #2f7a35;
  font-weight: bold;
}

.list-group h4 {
  font-weight: bold;
  margin-left: 10px;
}

.list-group a.active, .list-group a:hover, .list-group a.active:hover {
  background-color: #94C11E;
  border-color: #94C11E;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #2f7a35;
  color: #94C11E;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #333;
  background-color: #2f7a35;
}


/* main
------------------------- */

.main img {
  max-width: 100%;
}


/* Footer
------------------------- */

footer ul {
  list-style: none;
  width: 100%;
  padding: 0px;
}
footer ul li {
  display: inline-block;
  width: 24%;
  text-align: center;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}