{% load mptt_tags menu_tags %}

{% recursetree menu_itens %}
    {% if node.is_leaf_node %}
        <li><a class="about_proin" href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a></li>
    {% else %}
        {% if node.get_level == 0 %}
            <li><a class="about_proin" href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a></li>
            {{ children }}
        {% elif node.get_level > 0 %}
            <li><a class="about_proin" href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a></li>
            {{ children }}
        {% endif %}
    {% endif %}
{% endrecursetree %}