{% load mptt_tags menu_tags %}

{% recursetree menu_itens %}
    {% if node.is_leaf_node %}
        <a class="list-group-item" href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a>
    {% else %}
        {% if node.get_level == 0 %}
            <a class="list-group-item" href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a>
            {{ children }}
        {% elif node.get_level > 0 %}
            <a class="list-group-item" href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a>
            {{ children }}
        {% endif %}
    {% endif %}
{% endrecursetree %}