{% load mptt_tags menu_tags %}

{% recursetree menu_itens %}
    {% if node.is_leaf_node %}
        <li class="{% if node|is_active:request %} active{% endif %}"><a href="{{ node.get_link|default:"#" }}">{{ node.name|upper }}</a></li>
    {% else %}
        {% if node.get_level == 0 %}
            <li class="dropdown{% if node|is_active:request %} active{% endif %}">
                <a href="{{ node.get_link|default:"#" }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.name|upper }} <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    {{ children }}
                </ul>
            </li>
        {% elif node.get_level > 0 %}
            <li class="dropdown-submenu{% if node|is_active:request %} active{% endif %}">
                <a href="{{ node.get_link|default:"#" }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.name|upper }}</a>
                <ul class="dropdown-menu">
                    {{ children }}
                </ul>
            </li>
        {% endif %}
    {% endif %}
{% endrecursetree %}