{% load mptt_tags menu_tags %}

{% recursetree menu_itens %}
    {% if node.is_leaf_node %}
        <li class="{% if node|is_active:request %} active{% endif %}"><a href="{{ node.get_link|default:"#" }}"><span>{{ node.name|upper }}</span></a></li>
    {% else %}
        {% if node.get_level == 0 %}
            <li class="pi-has-dropdown{% if node|is_active:request %} active{% endif %}">
                <a href="{{ node.get_link|default:"#" }}"><span>{{ node.name|upper }}</span></a>
                <ul class="pi-submenu pi-has-border pi-items-have-borders pi-has-shadow pi-submenu-dark">
                    {{ children }}
                </ul>
            </li>
        {% elif node.get_level > 0 %}
            <li class="pi-has-dropdown{% if node|is_active:request %} active{% endif %}">
                <a href="{{ node.get_link|default:"#" }}"><span>{{ node.name|upper }}</span></a>
                <ul class="pi-submenu pi-has-border pi-items-have-borders pi-has-shadow pi-submenu-dark">
                    {{ children }}
                </ul>
            </li>
        {% endif %}
    {% endif %}
{% endrecursetree %}