<!DOCTYPE html>
<html>
<head>
    <title>Seja bem vindo</title>
</head>
<body>
<h3>Bem-vindx à Raiz Movimento Cidadanista!</h3>

<p>Para começar a interagir no movimento, sugerimos que leia o documento abaixo:<p>

<a href="http://www.raiz.org.br/media/uploads/documentos_da_raiz/campanha-semear-e-cultivar-raiz-web.pdf">Campanha Semear e Cultivar</a>

<p>Neste documento, você tem as dicas e instruções de como você pode conhecer, colaborar e participar das decisões do movimento.</p>

<p>Esperamos que possa contribuir bastante para a construção de uma nova forma de fazer política!</p>

<p>E caso tenha alguma dúvida, fique a vontade de nos perguntar.</p>

<p>
Atenciosamente,<br>
Raiz Movimento Cidadanista
</p>
</body>
</html>
