<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindx</title>
</head>
<body>
<h2>seja bem-vindx à Raiz Movimento Cidadanista!</h2>

<p>Para começar a interagir no movimento, sugerimos que leia o documento abaixo:</p>

<p><a href="http://www.raiz.org.br/media/uploads/documentos_da_raiz/campanha-semear-e-cultivar-raiz-web.pdf">Semear e Cultivar</a></p>

<p>Neste documento, você tem as dicas e instruções de como você pode conhecer, colaborar e participar das decisões do movimento.</p>

<p>E caso tenha alguma dúvida, fique a vontade em nos perguntar.</p>

<p>Saudações Cidadanistas!</p>
</body>
</html>
