{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/ie.css" />
    <![endif]-->
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">Core</a> &rsaquo;
     <a href="../">Membro</a> &rsaquo;
     {{ title }}
</div>
{% endif %}{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
    <div class="inline-group">
        <div class="tabular inline-related ">
            <fieldset class="module">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Membro</th>
                            <th>Valor a pagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr class="{% cycle 'row0' 'row1' %}">
                            <td>
                                <p>{{ result.membro }}</p>
                            </td>
                            <td>
                                <p>R$ {{ result.vr_apagar }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="row0">
                            <td>
                                <p><b>TOTAL: </b></p>
                            </td>
                            <td>
                                <p><b>R$ {{ total }}</b></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}