<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Requerimento</title>
        <style>
            body {
                font-family: Arial;
                font-size: 12px;
                text-align: left;
            }
            h1 {
                text-transform: uppercase;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    {% for estado, membros in results %}
        <b>FUNDADORES DO ESTADO {{ estado.nome|upper }}</b>:
        {% for membro in membros %}
            <b>{{ membro.index }}) {{ membro.nome|title }}</b>, {{ membro.nacionalidade|lower }} {% if membro.estadocivil %}{{ membro.get_estadocivil_genero_display|lower }}, {% endif %}{% if membro.atividade_profissional %} {{ membro.atividade_profissional|lower }}, {% endif %}{% if membro.cpf %}CPF sob o n. {{ membro.cpf }}{% endif %}, {% if membro.titulo_eleitoral %}TE n. {{ membro.titulo_eleitoral }}{% endif %}{% if membro.zona_eleitoral %}, zona {{ membro.zona_eleitoral }}{% endif %}{% if membro.secao_eleitoral %}, seção {{ membro.secao_eleitoral }}{% endif %}, email {{ membro.email }}, {% if membro.celular %}telefone: {{ membro.celular }}, {% endif %}
{% if membro.endereco %}residente em {{ membro.endereco|title }}{% endif %}{% if membro.endereco_num %}, {{ membro.endereco_num }}{% endif %}{% if membro.endereco_complemento %} {{ membro.endereco_complemento }}{% endif %}{% if membro.municipio %}, {{ membro.municipio|title }}{% endif %}, {{ membro.uf.uf }}{% if membro.endereco_cep %}, CEP {{ membro.endereco_cep }}{% endif %};
        {% endfor %}
    {% endfor %}
    <br/><b>ERROS</b><br/>
    {% for erro in erros %}{{ erro }}<br/>{% endfor %}
    </body>
</html>
