<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            @page {
                size: A4;
                margin: 1.5cm;
            }
            body {
                font-family: Arial;
                font-size: 12px;
                text-align: center;
            }
            h1 {
                text-transform: uppercase;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    {% for estado, membros in results.items %}
        <h1>FUNDADORES DA RAIZ<br>MOVIMENTO CIDADANISTA {{ estado|upper }}</h1><br><br>
        {% for membro in membros %}
            <b>__________________________________________________________________</b><br>
            <b>{{ membro.nome|title }}</b><br>
            {{ membro.nacionalidade }}{% if membro.estadocivil %}{{ membro.get_estadocivil_genero_display }}, {% endif %}{% if membro.atividade_profissional %} {{ membro.atividade_profissional }}, {% endif %}{% if membro.cpf %}CPF sob o n. {{ membro.cpf }}{% endif %}<br>
            {% if membro.titulo_eleitoral %}TE n. {{ membro.titulo_eleitoral }}{% endif %}{% if membro.zona_eleitoral %}, zona {{ membro.zona_eleitoral }}{% endif %}{% if membro.secao_eleitoral %}, seção {{ membro.secao_eleitoral }}{% endif %}, {{ membro.naturalidade }}<br>
            {% if membro.endereco %}{{ membro.endereco }}{% endif %}{% if membro.endereco_num %}, {{ membro.endereco_num }}{% endif %}{% if membro.municipio %}, {{ membro.municipio }}{% endif %}{% if membro.uf %}, {{ membro.uf.uf }}{% endif %}{% if membro.endereco_cep %}, CEP {{ membro.endereco_cep }}{% endif %}<br>

            <br><br><br>
            {% if forloop.counter|divisibleby:"6" and not forloop.last %}
            <pdf:nextpage>
            <h1>FUNDADORES DA RAIZ<br>MOVIMENTO CIDADANISTA DO {{ estado|upper }}</h1><br><br>
            {% endif %}
        {% endfor %}
        {% if not forloop.last %}
        <pdf:nextpage>
        {% endif %}
    {% endfor %}
    </body>
</html>
